@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');

.view-all-item-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.viewall-item-header{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
}
.viewall-item-navbar{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
    background-color: rgb(255, 255, 255);
   
}

.logo-icon-in-viewall{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(70%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.view-all-item-icon{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(30%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    padding-right: 50px;
}
.logo-icon-and-address{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;

}
.search-bar-for-viewall{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;

}
.input-bar-and-searchicon-viewall{
    height: 45px;
    width: 80%;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(156, 156, 156);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
   
}
.search-icon-viewall{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    transform: rotate(0deg);
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-size: 18px;
    padding: 9px;
    background-color: rgb(255, 204, 66);
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
.search-icon-hover-ani-viewall{
    position: absolute;
    height: 0%;
    width: 0%;
    background-color: #90e5ff;
    border-radius: 100%;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.search-icon-viewall:hover .search-icon-hover-ani-viewall{
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.search-icon-viewall:hover{
    transform: rotate(130deg);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.searchbar-in-viewall{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(39, 39, 39);
    font-family:'Roboto' ;
    border: none;
    font-weight: 500;
    padding: 10px;
}
.searchbar-in-viewall::placeholder{
    font-size: 13px;
    font-family: 'Lexend';
    font-weight: 500;
    color: rgba(107, 31, 31, 0.443);
}
.searchbar-in-viewall:focus{
    outline: none;
    border: none;
}

.logo-icon-viewall{
    
    font-size: 55px;
    color: brown;

}
.address-bar-in-view-all{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    gap: 20px;
    background-color: rgb(221, 243, 255);
    position: relative;
}
.address-bar-animation-span-viewall{
    position: absolute;
    height: 100%;
    width: 0%;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    background-color: rgb(255, 243, 204);
    border-radius: 20px;
}
.address-bar-in-view-all:hover .address-bar-animation-span-viewall{
    width: 100%;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.address-icon-viewall{
    height: auto;
    width: auto;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: 1;
}
.adress-icon-locate{
    font-size: 20px;
    color: rgb(57, 57, 57);
}
.adress-icon-viewall-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    z-index: 1;

}
.adress-icon-viewall-p-one{
    font-size: 16px;
    font-weight: 600;
    color: rgb(57, 57, 57);

    font-family: 'Winky Sans';
}
.adress-icon-viewall-p-two{
    font-size: 11px;
    font-weight: 600;
    font-family: 'Gidole';
    color: rgb(96, 96, 96);
}


.viewall-nav-side-icon{
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}
.down-toaddress-icon{
    color: rgb(42, 42, 42);
    transform: rotate(-90deg); 
    transition-duration: 0.3s;
    transition-timing-function: linear;
    z-index: 1;
    font-size: 12px;

}
.address-bar-in-view-all:hover .down-toaddress-icon{
    transform: rotate(0deg);
    transition-duration: 0.3s;
    transition-timing-function: linear;
}





.viewall-item-sub-navbar{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: rgb(241,251,255);
    background: linear-gradient(90deg, rgba(241,251,255,1) 0%, rgba(242,242,242,1) 22%, rgba(255,249,241,1) 100%);    padding: 10px 30px 10px 30px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.subnav-baar-for-viewmore-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(20%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
.subnav-baar-for-viewmore-two{
    height: auto;
    width: 100%;
    flex: 1 1 calc(80%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    border-left: 2px solid rgb(90, 90, 90);
    padding-left: 30px;
}
.subnav-baar-one-p{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 7px;
    border-radius: 10px;
    font-size: 13px;
    font-family:'Lexend' ;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0);
    transition-duration: 0.2s;
    transition-timing-function: linear;
    cursor: pointer;

}
.subnav-baar-one-p:hover{
    border: 1px solid rgb(156, 156, 156);
    transition-duration: 0.2s;
    transition-timing-function: linear;

}
.department-viewall-icon{
    font-weight: 0;
    font-size: 16px;
}
.department-arrow-viewall-icon{
    font-weight: 0;
    font-size: 10px;
    transform: rotate(-90deg);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.subnav-baar-one-p:hover .department-arrow-viewall-icon{
    transform: rotate(0deg);
    transition-duration: 0.2s;
    transition-timing-function: linear;

}
.subnav-baar-for-viewmore-two-p{
    font-size: 13px ;
    font-family: 'Kanit';
    font-weight: 300;
    cursor: pointer;
    transform: scale(1);

    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.subnav-baar-for-viewmore-two-p:hover{
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transform: scale(1.1);
}





.view-all-item-location-filt-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.viewall-item-route-section{
    height: auto;
    width: 100%;
    border-bottom: 1px solid rgba(154, 154, 154, 0.377);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px 20px 50px;
}
.view-all-item-samll-filtering{
    height: auto;
    width: 100%;
    border-bottom: 1px solid rgba(154, 154, 154, 0.21);
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px 18px 50px;

}
.pathname-in-viewall{
    font-size: 13px;
    font-family: 'Kanit';
    font-weight: 300;
    letter-spacing: 2px;
    color: rgb(118, 118, 118);
    cursor: pointer;
}
.small-filtering-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.small-filtering-element-p{
    font-size: 13px;
    font-family:'Kanit';
    font-weight: 300;
    background-color: rgb(240, 240, 240);
    padding: 5px 13px 5px 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    cursor: pointer;
    color: rgb(35, 35, 35);
    z-index: 1;

    position: relative;
}
.small-filtering-icon{
    font-size: 15px;
    color: rgb(35, 35, 35);
}
.small-filtering-icon-down{
    color: rgb(42, 42, 42);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    font-size: 10px;

}
.small-filtering-element-p:hover .small-filtering-icon-down{
    transform: rotate(90deg); 
    transition-duration: 0.3s;
    transition-timing-function: linear;
}


.small-filtering-animation{
    position: absolute;
    z-index: -1;
    left: 0px;
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: #e0e0e0;
    transition-duration: 0.3s;
    transition-timing-function: linear;

}
.small-filtering-element-p:hover .small-filtering-animation{
    width: 100%;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.small-filtering-element-sort-by{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sort-by-tit-in-smallfilt{
    font-size: 16px;
    font-family: 'Kanit';
    border-right: 2px solid rgb(107, 107, 107);
    padding-right: 20px;
}

.slect-in-sort-by{
    padding: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Ysabeau Office';
    color: rgb(66, 66, 66);
}
.slect-in-sort-by:focus{
    outline: none;
    border: none;
}




.view-all-item-small-item-flow{
    height: auto;
    width: 100%;
    padding: 50px 100px 50px 100px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.377);

}
.image-boxes-in-viewall{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}





.image-boxes-one-viewall{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.image-boxes-one-viewall-first{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(70%);
    background-color: rgb(83, 101, 101);
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1674027392842-29f8354e236c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAzfHxlJTIwY29tbWVyY2UlMjBwcm9kdWN0fGVufDB8fDB8fHww');
    
}
.image-boxes-one-viewall-first:hover{

    background-image: url('https://images.unsplash.com/photo-1543163521-1bf539c55dd2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGUlMjBjb21tZXJjZSUyMHByb2R1Y3R8ZW58MHx8MHx8fDA%3D');
   
}
.image-boxes-one-viewall-second{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(30%);
    background-color: rgb(99, 221, 90);
    border-radius: 10px;
    background-image: url('https://plus.unsplash.com/premium_photo-1661331827641-c6302f69d3f7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTMzfHxlJTIwY29tbWVyY2UlMjBwcm9kdWN0fGVufDB8fDB8fHww');
 
}
.image-boxes-one-viewall-second:hover{
    
    background-image: url('https://images.unsplash.com/photo-1615397349754-cfa2066a298e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZSUyMGNvbW1lcmNlJTIwcHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D');
   
}


.image-boxes-two-viewall{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.image-boxes-two-viewall-first{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(55%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.image-boxes-two-viewall-first-sub-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(70%);
    background-color: #000000;
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1545165393-011d14b0dcf0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fGUlMjBjb21tZXJjZSUyMHByb2R1Y3R8ZW58MHx8MHx8fDA%3D');
    
}
.image-boxes-two-viewall-first-sub-one:hover{
    
    background-image: url('https://images.unsplash.com/photo-1550009158-9ebf69173e03?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGVsZWN0cm9uaWNzfGVufDB8fDB8fHww');
   
}
.image-boxes-two-viewall-first-sub-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(30%);
    background-color: #991a1a;
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1610502778270-c5c6f4c7d575?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fGUlMjBjb21tZXJjZSUyMHByb2R1Y3R8ZW58MHx8MHx8fDA%3D');
 
}
.image-boxes-two-viewall-first-sub-two:hover{

    background-image: url('https://images.unsplash.com/photo-1483985988355-763728e1935b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D');
   
}




.image-boxes-two-viewall-second{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(45%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.image-boxes-two-viewall-second-sub-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(25%);
    background-color: #ee9595;
    border-radius: 10px;
    background-image: url('https://plus.unsplash.com/premium_photo-1681305758549-4fe9a04e7957?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGUlMjBjb21tZXJjZSUyMHByb2R1Y3R8ZW58MHx8MHx8fDA%3D');
    
}
.image-boxes-two-viewall-second-sub-one:hover{
   
    background-image: url('https://images.unsplash.com/photo-1649433911119-7cf48b3e8f50?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdGhzfGVufDB8fDB8fHww');
   
}
.image-boxes-two-viewall-second-sub-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    background-color: #95ee9b;
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1572635196237-14b3f281503f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGUlMjBjb21tZXJjZSUyMHByb2R1Y3R8ZW58MHx8MHx8fDA%3D');
    
}
.image-boxes-two-viewall-second-sub-two:hover{
    
    background-image: url('https://images.unsplash.com/photo-1602532381225-eec578361933?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1ha2V1cGtpdHxlbnwwfHwwfHx8MA%3D%3D');
   
}
.image-boxes-two-viewall-second-sub-three{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(25%);
    background-color: #95c1ee;
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1509695507497-903c140c43b0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGUlMjBjb21tZXJjZSUyMHByb2R1Y3R8ZW58MHx8MHx8fDA%3D');
   
}

.image-boxes-two-viewall-second-sub-three:hover{

    background-image: url('https://images.unsplash.com/photo-1602810318383-e386cc2a3ccf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fG1lbnMlMjBmYXNoaW9ufGVufDB8fDB8fHww');
   
}

.image-boxes-three-viewall{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.image-boxes-three-viewall-first{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    background-color: brown;
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGUlMjBjb21tZXJjZSUyMHByb2R1Y3R8ZW58MHx8MHx8fDA%3D');

}
.image-boxes-three-viewall-first:hover{

    background-image: url('https://plus.unsplash.com/premium_photo-1684888759266-ce3768052c80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Zm9vdGJhbGx8ZW58MHx8MHx8fDA%3D');
   
}
.image-boxes-three-viewall-second{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1491553895911-0055eca6402d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZSUyMGNvbW1lcmNlJTIwcHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D');
    
}
.image-boxes-three-viewall-second:hover{
    
    background-image: url('https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z2FtZXN8ZW58MHx8MHx8fDA%3D');
   
}
.background-image-setting{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   display: flex;
   flex-direction: column;
   
   transition-duration: 0.5s;
   transition-delay: 0.2s;
   will-change:background-image;
   transition-timing-function:linear;
}



.image-boxes-in-viewall-p{
    font-size: 28px;
    font-family: 'Kanit';
    padding: 20px;
    color: white;
    
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}







.view-all-item-main-container{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 20px;
    background-color: #95c1ee;
}
.main-item-view-all-container{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.main-item-view-all-sidebar{
    width: 100%;
    height: auto;
    flex: 1 1 calc(21%);
    background-color: #991a1a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;



}

.main-view-all-content-side-bar-main-div{
   
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
}

.filtering-div-in-side-nav-bar{
    height: auto;
    width:100%;
    padding: 10px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(154, 154, 154, 0.377);

}
.filtering-p-div{
    height: auto;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Anta';
    color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.filtering-inside-content{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 20px;  
}
.filtering-p-icon{
    font-size: 13px;
    color: #464646;
    transform: rotate(-90deg); 
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.filtering-p-icon-animate{
    transform: rotate(0deg); 
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.filtering-inside-p{
    font-size: 16px;
    font-family: 'Cagliostro';
    color: #2d2d2d;
    transition-duration: 1s;
    transition-timing-function: linear;
}




.main-view-all-content-side-bar-main-div::-webkit-scrollbar{
    width: 3px;
    background-color: rgba(255, 255, 255, 0.986);
  }
  .main-view-all-content-side-bar-main-div::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: rgba(52, 52, 52, 0.854);
  }


.main-item-view-all-main-content{
    height: 300vh;
    width: 100%;
    flex: 1 1 calc(79%);
    background-color: #1806b3;

}