@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

.cart-container{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-cart-warn{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(168, 168, 168, 0.58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-btn-for-no-cart{
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 217, 255);
    cursor: pointer;
    border: none;
    border-radius: 100%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.nocart-div{
    height: 200px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(63, 63, 63, 0.635);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.nocart-div-cont-close-btn{
    height: 45px;
    width: 200px;
    background-color: rgb(55, 182, 255);
    color: aliceblue;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes zoomalert{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.nocart-div-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.nocart-div-cont-p-1{
    font-size: 30px;
    font-family: 'Exo 2';
    color: rgb(255, 0, 0);
}
.nocart-div-cont-p-2{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(104, 104, 104);
}
.cart-div{
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
}
.cart-top-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(10%);
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
   border-bottom: 1px solid rgba(159, 159, 159, 0.783);
   
}
.cart-logo{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cart-nav{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding-right: 30px;
    transition-duration: 1s;

}
.cart-logo-svg{
    font-size: 50px;
    color: black;
}
.cont-shopi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(52, 52, 52);
    text-decoration: none;
    transition-duration: 1s;

}
.cart-nav-font{
    font-size: 20px;
    color: rgb(52, 52, 52);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 1s;

}
.cont-shoping-hov{
    transition-duration: 1s;

}
.cart-empty-p{
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Milonga';
    padding-top: 50px;
    color: rgb(50, 50, 50);

}
.cont-shoping-hov:hover .cont-shopi{
    transition-duration: 1s;
    color: rgb(69, 131, 255);
}
.cart-des{
    height: 25px;
    width: 25px;
}
.cart-des:hover .cart-nav-font{
    transform: rotate3d(1, 1, 0, 360deg);;
    transition-duration: 1s;
    color: rgb(69, 131, 255);
}
.cart-content-div{
    height:100%;
    width: 100%;
    flex: 1 1 calc(90%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.cart-content-div::before{
    content: '';
    height: 500px;
    width: 500px;
    background-image: url('/cartimg/cart-1 (1).png');
    background-size: cover; /* Ensure the image scales properly */
    background-position: calc(100%); 
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    border-radius: 40%;
    left: 350px;
    top: 50px;
    animation: cartimgmove 5s linear infinite;
}
@keyframes cartimgmove {
    0%{
        transform: translateY(0px) ;
    }
    50%{
        transform: translateY(-10px) ;
    }
    100%{
        transform: translateY(0px);
    }
}
.cart-page{
    height:100%;
    width: 100%;
    flex: 1 1 calc(70%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
   
}

.cart-summary-forsider{
    height:100%;
    width: 100%;
    flex: 1 1 calc(30%);
    border-left: 1px solid rgb(204, 204, 204);
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    
}
.ordersumm{
    height: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.ordersumm-p{
    font-size: 27px;
    font-weight: 500;
    font-family:'Barlow Condensed';
    color: rgb(63, 63, 63);
}
.final-cart-help{
    padding-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.num-of-item-in-cart-summ{
    height: 50px;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.num-of-item-in-cart-summ-p1{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 30, 30);
}
.num-of-item-in-cart-summ-p2{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(107, 107, 107);
}
.cart-summ-tot{
    height: 50px;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cart-summ-tot-p1{
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(34, 34, 34);
}
.cart-summ-tot-p2{
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(34, 34, 34);
}
.chekoutbtn{
    height: 40px;
    width: 300px;
    border: none;
    background-color: rgb(0, 157, 255);
    border-radius:  10px;
    font-family: 'Lugrasimo';
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition-duration: 0.7s;
    box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.15); 

}
.chekoutbtn:hover{
    background-color: rgb(0, 79, 128);
    transition-duration: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        transform:scale(1.03);
}


.cart-items{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    
}

.cart-item-num{
    height:100%;
    width: 100%;
    flex: 1 1 calc(5%);
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

}
.cart-list-ofitems{
    height:100%;
    width: 100%;
    flex: 1 1 calc(95%);
    border-radius: 20px;
    border: 1px solid rgba(151, 151, 151, 0.788);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.cart-p-1{
    font-size: 27px;
    font-weight: 500;
    font-family:'Barlow Condensed' ;
}
.cart-p-2{
    font-size: 14px;
    font-family: 'Galdeano';
}
.num-item{
    font-weight: 600;
    font-family:'Barlow Condensed' ;
}
.full-cart{

    height:100%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.cart-including-head{
    height:100;
    width: 100%;
    flex: 1 1 calc(5%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cart-including-item-div{
    height: 100%;
    max-height: 100%;
    width: 100%;
    flex: 1 1 calc(95%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
}
.product{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.prod-info{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cart-hd-p{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(74, 74, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-item-1{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(124, 124, 124, 0.317);
    padding: 10px;
    padding-right: 10px;
}
.remove-cart{
    position: absolute;
    right: 0px;
    top: -60px;
    height: 50px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition-duration: 1s;
    opacity: 0;
    transform: scale(0);

}
.cart-item-1:hover .remove-cart{
    top: -10px;
    opacity: 1;
    transform: scale(1);

    transition-duration: 0.8s;
}

.remove-cart-icon{
    font-size: 18px;
    color: rgb(255, 81, 81);
    cursor: pointer;
    transition-duration: 0.5s;

}
.remove-cart-icon:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;

}
.product-img-info{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.prod-info-incart{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.prod-img{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(25%);
    background-image: url('https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.prod-infor{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(75%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 20px;
}
.cart-hd-p-inmain{
    font-size: 16px;
    color: rgb(49, 49, 49);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.cart-hd-p-inmain-amt{
    font-size: 17px;
    color: rgb(70, 70, 70);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    
}
.cart-hd-p-inmain-quant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-left: 15px;
}
.increbtn{
    border: none;
    padding: 2px;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(85, 85, 85);
    font-size: 12px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(244, 244, 244);
    transform: scale(0.9);
    transition-duration: 0.6s;

}
.total-quant{
    font-size: 14px;
    font-family: 'Exo 2';
}

@keyframes totamtani {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }

}
@keyframes totamtanifalse {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes  quantanitrue {
    0%{
        opacity: 0;
        transform: rotateZ(0deg);
    }
    50%{
        opacity: 0.5;
        transform: rotateZ(180deg);
    }
    100%{
        opacity: 1;
        transform: rotateZ(360deg);
    }
}
@keyframes quantanifalse {
    0%{
        opacity: 0;
        transform: rotateZ(0deg);
    }
    50%{
        opacity: 0.5;
        transform: rotateZ(180deg);
    }
    100%{
        opacity: 1;
        transform: rotateZ(360deg);
    }
}

.decrebtn{
    border: none;
    padding: 2px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(85, 85, 85);
    cursor: pointer;
    background-color: rgb(244, 244, 244);
    transform: scale(0.9);
    transition-duration: 0.6s;

}
.increbtn:hover{
    transform: scale(1);
    transition-duration: 0.6s;

}
.decrebtn:hover{
    transform: scale(1);
    transition-duration: 0.6s;

}
.cart-hd-p-final-amt{
    font-size: 18px;
    font-family: 'Tsukimi Rounded';
    font-weight: 600;
    color: rgb(255, 140, 0);
}
.cart-scroll{
    width: 100%;
    height:auto;
    overflow-y: auto;
    display: grid;
    flex-direction: column;
    gap: 40px;
}
.cart-scroll::-webkit-scrollbar{
    width: 3px;
    background-color: rgba(254, 254, 254, 0.986);
  }
  .cart-scroll::-webkit-scrollbar-thumb{
    width: 3px;
    border: 4px solid #d5d5d5
  }

  .cart-scroll::-webkit-scrollbar-track {
    margin: 2px;
  }

  .shiment-detail{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(181, 181, 181);
    gap: 9px;
  }
  .shiping-tit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .select-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .country-sel{
    padding: 5px;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 40px;
    background-color: aliceblue;
  }
  .state-select{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }
  .state-sel{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 40px;
    background-color: aliceblue;

  }
.pin-inp{
    height: 100%;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 40px;
    flex: 1 1 calc(50%);
    background-color: aliceblue;

}
.upd-add-btn{
    height: 27px;
    width: 160px;
    border: none;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    color: white;
    font-size: 13px;
}
.coupoun-detail{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(181, 181, 181);
}
.coupoun-det{
    width: 100%;
    font-size: 12px;
    color: rgb(163, 163, 163);
    text-align: justify;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.coupoun-inp{
    padding: 5px;
    width: 80%;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 40px;
    background-color: aliceblue;
    
}
.coupoun-aplly{
    height: 27px;
    width: 160px;
    border: none;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    color: white;
    font-size: 13px;
}
.finalized-amount{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 189, 82);
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
}

.fin-amt-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fin-cart-amt-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.sub-amt-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 5px;
}
.sub-amt-p{
    font-size: 13px;
    font-family: 'Nunito';
    color: rgb(64, 64, 64);
}
.fin-tot{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.amt-off{
    font-size: 12px;
    font-family: 'Exo 2';
}
.total-amt{
    font-size: 15px;
}
.fin-cart-amt-div{
    padding-top: 5px;
}
.check-out-btn{
    height: 27px;
    width: 140px;
    border: none;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}

/* Checkout page*/

.cart-checkout-page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout-div{
    height: auto;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.checkout-head{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(10%);

}
.chekout-main-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(90%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.checkout-head{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.head-logo-checkout{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-family: 'Tektur';
    font-weight: 600;
}
.check-out-timeline{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    padding-right: 50px;
}
.same{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.line{
    width: 60px;
    height: 1px;
    background-color: rgba(167, 167, 167, 0.648);
}

.tick-in-check{
    border-radius: 100%;
    height: 23px;
    width: 23px;
    padding: 4px;
    background-color: rgba(229, 229, 229, 0.726);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(173, 173, 173);
   
}
.ticker-font{
    font-size: 16px;
    color: rgb(92, 92, 255);
}
.check-out-p{
    font-size: 14px;
    font-family: 'Tektur';
    font-weight: 300;
    color: rgb(39, 39, 39);
}
.curr-incheck{
    background-color: rgb(0, 132, 255);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}
.check-out-basic-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
    padding-left: 100px;
    gap: 20px;
}
.check-out-final-pay{
    height: 100%;
    width: 100%;
    border-left: 1px solid rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}


.chek-hd{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.check-for-del-type{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.p-in-check-info{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(48, 48, 48);

}
.cheker{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;

}
.check-1,.check-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 200px;
    border: 1px solid rgb(187, 187, 187);
    padding-left: 20px;
    border-radius: 8px;
}

.ship-type-p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight:300;
    font-family: 'Inter';

}
.ship-type-p-span{
    font-size: 18px;
    color: rgb(56, 56, 56);
}
.name-check{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}
.info-p-incheck{
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(62, 62, 62);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}
.imp-chek{
    color: red;
}
.rev-car-pay{
    font-size: 18px;
    font-family:'Rationale';
    font-weight: 100;
}
.chek-info-inp-div{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.inp-in-checkout{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
}
.all-in-one{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.in-all-one{
    width: 200px;
}
.terms-condi{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: 10px;
}
.terms-condi-p{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-review{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

}
.review-cart-in-paypage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    padding: 20px;
    padding-top: 0px;
 
}
.review-cart-in-paypage::-webkit-scrollbar{
    width: 3px;
    background-color: rgba(113, 113, 113, 0.986);
  }
  .review-cart-in-paypage::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: rgba(67, 67, 67, 0.676);
  }
.cart-rev-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(199, 199, 199, 0.836);
    border-radius: 10px;
    cursor: pointer;
    gap: 10px;
}
.rev-cart-img{
    height: 70px;
    width: 70px;
    border-radius: 5px;
    background-image: url('https://images.pexels.com/photos/1183266/pexels-photo-1183266.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.end-of-rev{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.rev-cart-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.rev-cart-p{
    font-size: 13px;
    font-family: 'Inter';
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}
.coupoun-div{
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid rgb(167, 167, 167);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.coupoun-div-p-infin{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(10%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.coupoun-div-p-2-infin{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(15%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Galdeano';
    color: rgb(58, 58, 58);
}
.coup-inp{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(75%);
    border: none;
}
.coup-inp:focus{
    border: none;
    outline: none;
}
.coup-svg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(57, 57, 57);
}
.final-amt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sub-fin-cart{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.sub-fin-cart-p{
    font-size: 12px;
    font-family: 'Infer';
    color: rgb(103, 102, 102);
}
.sub-fin-cart-p-amt{
    font-size: 13px;
    font-family: 'Infer';
    font-weight: 400;
    color: rgb(8, 8, 8);
}
.totdiv{
    width: 100%;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 15px;
}
.total{
    
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub-fin-cart-p-amt-tot{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: rgb(8, 8, 8);
}
.procced-btn{
    width: 50%;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 20px;
}
.pay-btn{
    height: 35px;
    width: 100%;
    background-color: rgb(37, 124, 255);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;

}
.pay-btn:hover{
    background-color: rgb(0, 44, 77);
    transform:scale(1.03);
    transition-duration: 0.5s;

}
.inp-in-checkout:focus{
    border: 0.5px solid rgb(80, 150, 255) ;
    outline:0.5px solid rgb(63, 140, 255)  ;
}
.redborder{
    border: 0.5px solid rgb(255, 80, 80) ;
    outline:0.5px solid rgb(255, 63, 63)
}
.blueborder{
    border: 0.5px solid rgb(80, 150, 255) ;
    outline:0.5px solid rgb(63, 140, 255)  ;
}

.secure-tran{
    width: 70%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.locksvg{
    font-size: 18px;
    color: rgb(69, 131, 255);
}

.phonenuminp[type="number"]::-webkit-inner-spin-button,
.phonenuminp[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.secure-p-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    gap: 5px;
}
.secure-p-2{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(141, 141, 141);
    padding-left: 25px;
    text-align: justify;
}
.payed-noti{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.539);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payed-noti-div{
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding-bottom: 20px;
    
}
.loadin-div-for-payemnt-susscess{
    height: 100px;
    width: 100px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.suss-dot{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: 1px solid rgba(26, 26, 26, 0.699);
}
.load-dot-1-in-pay-suss{
    animation: dotjump1 0.9s ease-in-out infinite;
}
.load-dot-2-in-pay-suss{
    animation: dotjump2 0.9s ease-in-out infinite;
}
.load-dot-3-in-pay-suss{
    animation: dotjump3 0.9s ease-in-out infinite;
}
.load-dot-4-in-pay-suss{
    animation: dotjump4 0.9s ease-in-out infinite ;
}


@keyframes dotjump1 {
    0%{
      transform: translate(0px);
    }
    50%{
      transform: translateY(-12px);
    }
    100%{
      transform: translate(0px);
  
    }
  }
  
  @keyframes dotjump2 {
    10%{
      transform: translate(0px);
    }
    60%{
      transform: translateY(-12px);
    }
    100%{
      transform: translate(0px);
  
    }
  }
  @keyframes dotjump3 {
    20%{
      transform: translate(0px);
    }
    70%{
      transform: translateY(-12px);
    }
    100%{
      transform: translate(0px);
  
    }
  }
  @keyframes dotjump4 {
    30%{
      transform: translate(0px);
    }
    80%{
      transform: translateY(-12px);
    }
    100%{
      transform: translate(0px);
  
    }
  }
  
  .pay-suss-img{
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotsussimg 1s cubic-bezier(.47,1.64,.41,.8) 0s;
    position: absolute;
    left: -260px;
  }

.normaldisimg{
    transition-duration: 2s;
    transition-delay: 10s;
    transform:translateY(0px) rotate3d(0,0,0, 0deg);

}
@keyframes rotsussimg {
    from{
        opacity: 0;
        transform:translateY(600px) rotate3d(50,0,60, 120deg);
    }
    to{
        opacity: 1;
        transform:translateY(0px) rotate3d(0,0,0, 0deg);

    }
}


.closepaybtn{
    position: absolute;
    top: 30px;
    right: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition-duration: 1s;

}
.closepaybtn:hover {
    background-color: rgb(255, 255, 255);
    transition-duration: 1s;
}
.closepaybtn:hover .payclose-png{
    color: black;
    transition-duration: 1s;

}
.payclose-png{
    transition-duration: 1s;

    font-size: 30px;
    color: white;
}
.closebtn-payment{
    height: 45px;
    width: 160px;
    background-color: rgb(80, 150, 255);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    transition-duration: 1s;
    cursor: pointer;

}

.fromlrft-inclose{
    position: absolute;
    width: 0px;
    right: 0px;
    height: 100%;
    border: 3px solid rgba(71, 71, 71, 0.664);
    top: 0px;
    border-radius: 10px;
    transition-duration: 1s;
    opacity: 0;
    
}
.closebtn-payment:hover{
    transition-duration: 1s;
    background-color: rgb(86, 255, 145);
    color: rgba(87, 87, 87, 0.961);
}
.closebtn-payment:hover .fromlrft-inclose{
    opacity: 1;
    width: 100%;
    transition-duration: 1s;

}
@keyframes upanddown {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);

    }
    100%{
        transform: scale(1)
    }
}
.option-country:nth-child(even){
    background-color: rgba(183, 183, 183, 0.486);
}
.option-country{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(55, 55, 55);
}


.box {
    position: absolute;
    width: 130px;
    height: 130px;
    transform-style: preserve-3d; 
    animation: rotate 5s linear infinite;
  }

.box div{
    position: absolute;
    width: 130px;
    height: 130px;
    background:transparent;
    border: 2px solid #c2c2c231;
  }

 
  .front {
    transform: translateZ(65px);
  }

  
  .back {
    transform: rotateY(180deg) translateZ(65px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(65px);
  }

  .right {
    transform: rotateY(90deg) translateZ(65px);
  }

  .top {
    transform: rotateX(90deg) translateZ(65px);
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(65px);
  }
  @keyframes rotate {
    from {
      transform: rotateX(30deg) rotateY(-30deg);
    }
    to {
      transform: rotateX(30deg) rotateY(330deg);
    }
  }

  .for-oops{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .oops{
    font-size: 40px;
    color: tomato;
  }
  .oops-cont{
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(77, 77, 77);
    font-size: 16px;
    font-family: 'Inter';
  }