@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.itemoverview-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.itemoverview-box-one{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itemoverview-navbar{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(10%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding-left: 150px;
    padding-right: 150px;

}
.itemoverview-nav-logo{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.itemoverview-nav-content{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    padding-right: 30px;

}
.itemoverview-nav-para{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.overview-fox-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Splash';
    padding-left: 30px;

}
.fox-img-overview{
    font-size:24px;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-cart-itemoverview{
    font-size: 20px;
}
.name-for-like{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-overview-box-for-content{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(90%);
    padding:70px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}
.item-overvew-img-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    background-image: url('https://images.pexels.com/photos/1462637/pexels-photo-1462637.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}
.item-overvew-content-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.itemoverview-logo-svg{
    font-size: 50px;
    color: black;
}

.item-overvew-content-head{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.217);

}
.tit-for-overview{
    width: 100%;
    display: flex;
    font-size: 35px;
    font-family: 'Macondo';
    color: rgb(0, 43, 28);
}
.div-for-seller{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.seller-name{
    font-size: 16px;
    font-family: 'Barlow Condensed';
}
.top-sell{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}