@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --text-color-lighter:rgb(97, 97, 97);
    --text-color--more-lighter:rgb(120, 120, 120);
}
.itemoverview-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.navbar-for-itemoverview{
    height: auto;
    width: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div-for-nav-one{
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(154, 154, 154, 0.345);
    padding-left: 140px;
    padding-right: 140px;
}
.nav-bar-for-overview-logo{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;

}
.nav-bar-for-overview-logo-cont{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    gap: 70px;
}
.overview-logo{
    font-size: 30px;
    font-family: 'Splash';
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fox-browser-logo{
    margin-left: 15px;
    margin-right: 10px;
    color: orangered;
     stroke-width: 0.5px;
     stroke: rgb(94, 94, 94);
}
.logo-span-overview{
    padding-left: 25px;
}
.nav-cont-logo-overview{
    font-size: 20px;
}

.div-for-nav-two{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(154, 154, 154, 0.345);

}

.short-nav-for-overview{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    gap: 60px;
}
.short-nav-p{
    font-size: 18px;
    font-family: 'Genos';
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.down-for-more-in-nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 14px;
}
.div-for-nav-three{
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}
.three-cont-move-in-nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.p-for-three-cont{
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Princess Sofia';
}
.main-overview-content-div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 30px;    
}
.main-overview-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-overview-img{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   position: relative;
   gap: 10px;
}
.main-overview-txt{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.side-all-img{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(10%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.main-img{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(90%);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.side-img{
    height: 50px;
    width: 50px ;
    border-radius: 10px;
    border: 2px solid rgb(165, 165, 165);
}
.side-img-one{
    background-image: url('https://images.pexels.com/photos/5081398/pexels-photo-5081398.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.side-img-two{
    background-image: url('https://images.pexels.com/photos/3780681/pexels-photo-3780681.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.side-img-three{
    background-image: url('https://images.pexels.com/photos/1646704/pexels-photo-1646704.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-tag{
    height: 90%;
    width:95%;
    background-image: url('https://glozin-demo.myshopify.com/cdn/shop/files/headephone_products_12_1.jpg?v=1721289424&width=720');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: sticky;
    top: 10px;

}

.basic-item-info-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.prod-name-and-seller{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}
.sale-box{
    height: 26px;
    width: 60px;
    background-color: rgb(212, 57, 14);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sel-prod-name{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.seller{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family:'Play';
    font-size: 16px;
    color: var(  --text-color-lighter);
}
.prod-name{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 29px;
    color: rgb(40, 40, 40);
}
.review{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.star-rev{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.star-overview{
    font-size: 13px;
    color: rgb(255, 157, 0);
    text-align: center;
}
.review-persons{
    font-size: 14px;
    font-family: 'Nunito';
    font-weight: 600;
    color: var(  --text-color-lighter);
}
.alert-to-sale{
    padding-left: 50px;
    font-size: 12px;
    font-family:'Offside';
    font-weight: 600;
    color: rgba(213, 50, 0, 0.879);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.amount-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.actual-amt{
    font-size: 16px;
    font-family: 'Moderustic';
    color: var(--text-color--more-lighter);
    text-decoration: line-through;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tot-amt{
    font-size: 26px;
    font-family:'Miriam Libre';
    color: #d0473e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
.actual-discount{
    color: rgb(112, 0, 69);
    font-family:'Princess Sofia' ;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.item-about-note{
    width: 90%;
    height: auto;
    font-size: 17px;
    font-family: 'Ysabeau Office';
    color: rgb(84, 84, 84);
    text-align: justify;
}
.delivery-info-box{
    width: 100%;
    height: auto;
    border: 1px solid rgba(186, 186, 186, 0.365);
    border-radius: 10px;
    
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}
.del-box-one,.del-box-two,.del-box-three{
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.del-box-one,.del-box-two{
    border-bottom: 1px solid rgba(188, 188, 188, 0.438);
}
.deliver-overview,.coupon-overview,.package-overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family:'Moderustic';
    gap: 10px;
    color: rgb(78, 78, 78);
}
.side-txt-del{
    font-size: 14px;
    font-family:'Moderustic';
    color: rgb(41, 41, 41);
    font-weight: 500;
}
.del-box-svg{
    font-size: 24px;
    color: rgb(65, 65, 65);
}

.availability-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.avail-div-one{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.avail-div-two{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  flex-start;
    gap: 12px;
}
.avail-div-one-para{
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Exo 2';
    color: rgb(35, 35, 35);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.avail-div-one-para-span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(43, 43, 43);
    gap: 5px;
    font-size: 15px;
    font-family: 'Play';
}
@keyframes availabilityanimate {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);

    }
    100%{
        transform: scale(1)
    }
}
.hurry-up-para{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d11103;
}
.timer-hurry-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.timer-overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(129, 129, 129);
    width: 55px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
}
.time-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.time{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}
.txt-time{
    background-color:rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    overflow: hidden;

}

@keyframes timechange {
    0%{
        transform: translateY(30px) scale(0.5);
        opacity: 0.2;
    }
    10%{
        transform: translateY(0px) scale(1);

        opacity: 1;
    }
    50%{
        transform: translateY(0px)  scale(1);

        opacity: 1;
    }
    90%{
        transform: translateY(0px)  scale(1);

        opacity: 1;
    }
    100%{
        transform: translateY(-30px)  scale(0.5);

        opacity: 0;
    }
}

.viewed-plus-share{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.174);
}
.viewed-box{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 
}
.viewed-para{
    font-size: 13px;
    font-family: 'Exo 2';
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    color: rgb(45, 53, 64);
}
.viewed-svg{
    font-size: 20px;
    color: rgb(45, 53, 64);
}
.share-querry{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content:flex-start;
    align-items:center;
}

.quest-para,.quest-share{
    font-size: 16px;
    color: rgb(83, 83, 83);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-align: center;
}
.ques-svg,.share-svg{
    font-size: 17px;
    color: rgb(45, 53, 64);
}

.div-for-btn-overview{
    height:40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.quant-inp-div-overview{
    flex: 1 1 calc(20%);
    height: 100%;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid rgb(180, 180, 180);
}
.addcart-btn-div-overview{
    flex: 1 1 calc(70%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.addcart-btn-overview{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    font-size:20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: 'Exo 2';
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition-duration: 1s;

}
.cross-full-overview-cart-btn{
    position: absolute;
    transform: rotate(37deg);
    height: 420px;
    border-radius: 70%;
    width: 0px;
    background-color: #000000;
    z-index: -1;
    transition-duration: 1s;

}
.addcart-btn-overview:hover .cross-full-overview-cart-btn{
    width: 400px;
    transform: rotate(87deg);
    transition-duration: 1s;
    transition-delay: 0.2s;
}
.addcart-btn-overview:hover{
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;
    transition-delay: 0.3s;

}
.incre-quantin-overview,.decre-quantin-overview{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 100%;
    transform: scale(0.9);
    transition-duration: 0.6s;
}
.incre-quantin-overview:hover{
    transform: scale(1);
    transition-duration: 0.6s;

}.decre-quantin-overview:hover{
    transform: scale(1);
    transition-duration: 0.6s;

}
.quant-num-overview{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.addlike-btn-div-overview{
    height:100%;
    width: 100%;
    flex:1 1 calc(10%);
    background-color: rgb(255, 255, 255);
    display: flex;
    border: 1px solid rgb(225, 225, 225);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.like-btn-overview{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.6s;

}
.show-to-hover{
    width: 100px;
    position: absolute;
    top: -40px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform:translateY(25px) scale(0.2);
    opacity: 0;
    transition-duration: 0.6s;

}
.down-arr-for-hover{
    position: absolute;
    bottom: -16px;
}
.down-svg{
    font-size: 25px;
    color: black;
}
.like-btn-overview:hover{
    background-color: black;
    color: white;
    transition-duration: 0.6s;

}

.like-btn-overview:hover .show-to-hover{
    transform:translateY(0px) scale(1);
    opacity: 1;
    transition-duration: 0.6s;
}


.selling-place-overview{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(112, 112, 112, 0.174);
    border-bottom: 1px solid rgba(112, 112, 112, 0.174)
}
.selling-place{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

}
.pickup-detail{
    font-size: 15px;
    font-family: 'Moderustic';
    color: rgb(77, 77, 77);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.pickup-tick{
    color: rgb(0, 130, 26);
    font-size: 17px;
}

.seller-detail{
    position: relative;
    font-size: 13px;
    font-family: 'Moderustic';
    color: rgb(77,77, 77);
    padding-left: 26px;
    text-decoration: underline;
    cursor: pointer;
}
.selling-detail{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.detail-para{
    font-size: 15px;
    font-family: 'Moderustic';
    color: rgb(77,77, 77);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.detail-para-span{
    height: 100%;
    color: black;
    font-weight: 500;
    display: flex;
    font-family: 'Exo 2';
    font-size: 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.safe-checkout{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.safe-checkout-box{
    height: 100%;
    width: 90%;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:15px;
}
.checkout-name{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Miriam Libre';
}
.payment-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.payimg{
    height:35px;
    width:35px;
    border-radius: 5px;
   
}
.img-for-payment{
    height: 20px;
    width: 60%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three-hidden-cont{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.hidden-par{
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    border-top: 1px solid rgba(112, 112, 112, 0.297);
    border-bottom: 1px solid rgba(112, 112, 112, 0.297);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}
.no-border{
    border-top: none;
    border-bottom: none;
}
.hidden-par-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Offside';
}
.hidden-para-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.hidden-para-cont-p{
    font-weight: 0;
    font-size: 15px;
    line-height: 26px;
    font-family: 'Exo 2';
    
    
}
.add-line{
    position: relative;
}
.add-line-absolute{
    position: absolute;
    transform: rotate(90deg);
    left: 0px;
    transition-duration: 0.5s;
}
.des-par-p-noani{
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleY(0);
    opacity: 0;
}
.des-par-p{
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleY(1);
    opacity: 1;
}

.overflow-none{
    height: 100%;
    width: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
   
}

  .bar-cont-one {
    position: absolute;
    animation: slideone 12s linear infinite;
    transform: translateX(400px);
    animation-delay: 0s; 
  }
  
  .bar-cont-two {
    position: absolute;

    animation: slideone 12s linear infinite;
    transform: translateX(400px);

    animation-delay: 4s; 
  }
  
  .bar-cont-three {
    position: absolute;

    animation: slideone 12s linear infinite;
    transform: translateX(400px);

    animation-delay: 8s;
  }
  
  @keyframes slideone {
    0% { transform: translateX(400px); } 
    10% { transform: translateX(0); }    
    30% { transform: translateX(0); }
    40% { transform: translateX(-400px); } 
    100% { transform: translateX(-400px); }
  }
   
