@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.item-short-view{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.591);
    z-index: 10000;
}
.item-short-container{
    position: absolute;
    height: 500px;
    width: 1000px;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;

}
.item-short-img-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(45%);
   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.item-short-cont-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(55%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-left: 1px solid rgba(172, 172, 172, 0.217);

    gap:20px ;
    overflow-y: auto;

}
.discount-percentage-item-short{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(164, 66, 66, 0.872);
    font-family: 'Instrument Serif';
}
.item-short-cont-div::-webkit-scrollbar{
    width: 3px;
    background-color: rgba(133, 133, 133, 0.986);
    border-radius: 20px;
  }
.item-short-cont-div::-webkit-scrollbar-thumb{
    width: 3px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.676);
  }

.item-short-img{
    height: 95%;
    width: 95%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgba(192, 192, 192, 0.361);
}


.item-short-close{
    position: absolute;
    top: 20px;
    right:30px ;
}
.item-short-close-svg{
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.8s;

}
.item-short-close-svg:hover{
    transform: scale(1.1);
    transition-duration: 0.8s;
}
.moveview{
    clip-path: inset(0 0 0 0);
    transition-duration: 0.3s;
    transition-timing-function: linear;
  
  }
.removeview{
    clip-path: inset(100% 100% 0 0);
    transition-duration: 0.5s;
    transition-timing-function:linear;
    transition-delay: 0.3s;

}
.scaleviewbox{
    transform:scale(1) rotate(0deg);
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
.nonscaleviewboxitem-short-close{
    transform:scale(0) rotate(180deg);
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
@keyframes viewboxani {
    from{
        transform: scale(0.8);
    }
    from{
        transform: scale(1);
    }
}

@keyframes rotateitemshort {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes reverserotateitemshort {
    from{
        transform: rotateY(360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes moveitemshort {
    from{
        transform: translateX(230px);
        opacity: 0;
    }
    to{
        transform:  translateX(0px);
        opacity: 1;
    }
}

@keyframes reversemoveitemshort {
    from{
        transform: translateX(-230px);
        opacity: 0;
    }
    to{
        transform:  translateX(0px);
        opacity: 1;
    }
}

.item-shot-head-cont-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.217);
}
.item-shot-heading{
    font-size: 24px;
    font-family: 'Wix Madefor Display';
    color: rgb(0, 0, 67);
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item-shot-seller{
    font-size: 14px;
    font-family: 'Barlow Condensed';
    color: rgb(89, 89, 89);
}
.item-shot-amt-cont-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  

}
.item-short-amt{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.seller-topsell{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sold-item-initem-short{
    font-size: 14px;
    color: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gemunu Libre';
}
.item-short-reviews{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.acutal-amt-in-item-short{
    font-size: 15px;
    text-decoration: line-through;
    color: rgb(169, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed';
}
.dis-amt-in-item-short{
    font-size: 26px;
    color: rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed';
}
.star-for-item-short{
    height: 15px;
    font-size: 24px;
    color: goldenrod;
}
.review-num-item-short{
    font-size: 12px;
    color: rgb(94, 94, 94);
    font-family:'Roboto Condensed' ;
}
.item-short-available-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
.instock{
    font-size: 12px;
    color: rgb(125, 125, 125);
    font-family: 'Nova Flat';
}
.description-item-short{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.217);
}
.descrip-item-short-tit{
    font-size: 16px;
    font-family: 'Gemunu Libre';
    color: rgb(0, 0, 20);
}
.descrip-item-short-cont{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-size: 13px;
    text-align: justify;
    font-family: 'Arima';
    color: rgb(63, 63, 63);
}
.basic-item-shprt-info{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 10px;
}
.addi-info-short{
    width: 100%;
    font-size: 15px;
    color: rgb(0, 0, 20);
    font-family: 'Gemunu Libre';
    font-weight: 400;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.view-more-and-emi{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.view-more-btn-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    align-items: center;

}
.view-more-btn{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Reggae One';
    color: rgb(45, 90, 92);
    gap: 2px;
}
.expandsvg{
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    transform: rotate(0deg);
    transition-duration: 0.6s

}
.view-more-btn:hover .expandsvg{
    transform: rotate(-90deg);
    transition-duration: 0.6s
}
.addi-span-info-short{
    font-size: 14px;
    color: rgb(35, 35, 35);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    transform: translateX(100px);
    opacity: 0;
    transition-duration: 1s;
}
.addi-span-info-short.addi-span-info-ani1{
    transform: translateX(0px);
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.7s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955) ;

}
.addi-span-info-short.addi-span-info-ani2 {
    transform: translateX(0px);
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.9s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
}
.addi-span-info-short.addi-span-info-ani3 {
    transform: translateX(0px);
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
}
@keyframes upanddowninitemshort {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);

    }
    100%{
        transform: scale(1)
    }
}
.instock-svg{
    color: rgb(0, 124, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}
.item-short-btn-div{
    height: 100%;
    min-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.item-short-cartbtn{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    color: black;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(55, 55, 55);
    
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-delay: 0s;
   

}
.item-short-likebtn{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    color: rgb(95, 95, 95);
    background-color: rgba(225, 225, 225, 0.537);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Sarpanch';
    gap: 3px;

}
@keyframes likeheartinitemshortadd {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg) scale(1.5);

    }
    100%{
        transform:  rotateY(360deg) scale(1);

    }
}
@keyframes likeheartinitemshortnotadd {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg) scale(1.5);

    }
    100%{
        transform:  rotateY(360deg) scale(1);

    }
}
.item-short-cart-cartbtn-trans{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateY(60px);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.add-item-short-span{
    font-size: 16px;
    font-family: 'Sarpanch';
    transition-duration: 0.5s;
    transition-delay: 0s;
}
.item-short-cartbtn:hover .add-item-short-span{
    z-index: 100;
    color: white;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}
.item-short-cartbtn:hover .item-short-cart-cartbtn-trans{
    transform: translateY(0px);
    transition-duration: 0.5s;
  

}

.heart-item-short{
    font-size: 20px;
    color: red;
    transition-duration: 1s;
    transform: scale3d(0.8,0.8,0.8);
}
.item-short-likebtn:hover .heart-item-short{
    transition-duration: 1s;
    transform: scale3d(1,1,1);
}
.pin-code-eligible-found{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.pin-eligible{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pin-inp-div{
    height: auto;
    width: auto;
    border: 1px solid rgba(214, 214, 214, 0.447);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
}
.pin-inp-box{
    border: none;
    height: 35px;
    width: 120px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 46, 46);
}
.pin-inp-box:focus{
    border: none;
    outline: none;
}
.pin-inp-box[type="number"]::-webkit-inner-spin-button,
.pin-inp-box[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.enter-pin{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor:pointer;
    color: rgb(44, 44, 44);
}
.pin-district{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-top: 10px;
    gap: 5px;
}
.pin-dist-p{
    font-size: 14px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Teachers';
    color: rgb(73, 73, 73);
}
.district-name{
    font-size: 15px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Roboto';
    transform: s;
}
.linktopaypage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.dist-available-for-delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    color: green;
    font-family: 'Roboto';

}
.buy-now-intem-short-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.buy-now-btn{
    height: 40px;
    width: 50%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 1s;

}
.buy-now-btn-notallowed {
    height: 40px;
    width: 50%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.buy-now-btn:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transition-duration: 1s;
    border-radius: 10px;

}
.basic-item-short-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.217);
    border-top: 1px solid rgba(172, 172, 172, 0.217);

}
.item-short-basic{
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.item-short-basic-div-logo{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-basic-item-short{
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(156, 156, 156);
    border-radius:100%;
    background-color: rgba(238, 238, 238, 0.511);
}
.logo-for-basic-item-short{
    font-size: 18px;
    color: rgb(232, 190, 0);
}
.text{
    font-size: 12px;
    color: rgba(49, 49, 49, 0.635);
    font-family: 'Nova Flat';
}