@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.item-short-view{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.591);
    z-index: 10000;
    cursor:url('close-two.png') 10 10, auto;
}
.not-able-to-buy-alert-div{
    height: 100px;
    width: 300px;
    position: fixed;
    background-color: rgb(248, 252, 255);
     left: 10px;
    bottom: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-350px);
    opacity: 0;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}

.alert-buy-inner-div{
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.squarefor-desing{
    position: absolute;
   z-index: -1;
   border-radius: 4px;
  animation: alerboxanimationinside 10s linear forwards infinite;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.sq-one{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 175, 175, 0.42);
    
    rotate: 50deg;
    top: -20px;
    right: -10px;
}
.sq-two{
    height: 20px;
    width: 20px;
    background-color: rgba(255, 198, 198, 0.42);
    left: 100px;
    rotate: 100deg;
}
.sq-three{
    height: 30px;
    width: 30px;
    background-color: rgba(255, 184, 184, 0.34);
    right: 50px;
    rotate: -20deg;
}
.sq-four{
    height: 25px;
    width: 25px;
    background-color: rgba(255, 199, 199, 0.42);
    bottom:-10px;
    right: 100px;
    rotate: 20deg;
}
.sq-five{
    height: 45px;
    width: 45px;
    background-color: rgba(240, 200, 200, 0.42);
    
    top:-20px;
    right: 120px;
    rotate: 20deg;
}
.sq-six{
    height:35px;
    width: 35px;
    background-color: rgba(240, 200, 200, 0.639);
    top:40px;
    left: 0px;
    rotate: 60deg;
}
@keyframes alerboxanimationinside {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);

    }
}
.alerdisp{
    transform: translateX(0px) rotateX(0deg);
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);


}
.noalerdisp{
    transform: translateX(-350px) rotateX(180deg);
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);



}
.info-svg-buy-error{
    font-size: 28px;
    color: rgb(43, 156, 255);
}
.line-passing{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:auto;
    border-radius: 50px; 
   background-color: transparent;

}
.heart-in-like-add{
    font-size: 20px;
}
.line-here{
    width: 0%;
    background-color: rgb(48, 48, 48);
    height: 3px;
    position: absolute;
    right: 0px;
}
@keyframes closeunderline {
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}
.alert-buy-font{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imageforbuyerror{
    position: absolute;
    left: 10px;
    top: -90px;
    height: 200px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
@keyframes rotsussimgforbuyer {
    from{
        opacity: 0;
        transform:translateY(200px) rotate3d(50,0,60, 120deg);
    }
    to{
        opacity: 1;
        transform:translateY(0px) rotate3d(0,0,0, 0deg);

    }
}
.div-for-cont{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-for-alert-buy{
    position: absolute;
    top: 10px;
    right: 20px;
}
.buy-alert-close-svg{
    font-size: 15px;
    cursor: pointer;
}
.item-short-container{
    position: absolute;
    height: 500px;
    width: 66%;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: default;
}

.moveview{
    clip-path: inset(0 0 0 0);
    transition-duration: 0.3s;
    transition-timing-function: linear;
  
  }
.removeview{
    clip-path: inset(100% 100% 0 0);
    transition-duration: 0.5s;
    transition-timing-function:linear;
    transition-delay: 0.3s;

}
.scaleviewbox{
    transform:scale(1) rotate(0deg);
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
.nonscaleviewboxitem-short-close{
    transform:scale(0) rotate(180deg);
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
.item-short-img-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(45%);
   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.item-short-cont-div{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(55%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-left: 1px solid rgba(172, 172, 172, 0.217);

    gap:20px ;
    overflow-y: auto;

}
.discount-percentage-item-short{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(164, 66, 66, 0.872);
    font-family: 'Instrument Serif';
}
.item-short-cont-div::-webkit-scrollbar{
    width: 3px;
    background-color: rgba(133, 133, 133, 0.986);
    border-radius: 20px;
  }
.item-short-cont-div::-webkit-scrollbar-thumb{
    width: 3px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.676);
  }

.item-short-img{
    height: 95%;
    width: 95%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgba(192, 192, 192, 0.361);
}


.item-short-close{
    position: absolute;
    top: 20px;
    right:30px ;
}
.item-short-close-svg{
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.8s;

}
.item-short-close-svg:hover{
    transform: scale(1.1);
    transition-duration: 0.8s;
}

@keyframes viewboxani {
    from{
        transform: scale(0.8);
    }
    from{
        transform: scale(1);
    }
}

@keyframes rotateitemshort {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes reverserotateitemshort {
    from{
        transform: rotateY(360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes moveitemshort {
    from{
        transform: translateX(230px);
        opacity: 0;
    }
    to{
        transform:  translateX(0px);
        opacity: 1;
    }
}

@keyframes reversemoveitemshort {
    from{
        transform: translateX(-230px);
        opacity: 0;
    }
    to{
        transform:  translateX(0px);
        opacity: 1;
    }
}

.item-shot-head-cont-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.217);
}
.item-shot-heading{
    font-size: 24px;
    font-family: 'Wix Madefor Display';
    color: rgb(0, 0, 67);
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item-shot-seller{
    font-size: 14px;
    font-family: 'Barlow Condensed';
    color: rgb(89, 89, 89);
}
.item-shot-amt-cont-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  

}
.item-short-amt{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.seller-topsell{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sold-item-initem-short{
    font-size: 14px;
    color: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gemunu Libre';
}
.item-short-reviews{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
}
.acutal-amt-in-item-short{
    font-size: 15px;
    text-decoration: line-through;
    color: rgb(169, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed';
}
.dis-amt-in-item-short{
    font-size: 26px;
    color: rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed';
}
.star-for-item-short{
    height: 15px;
    font-size: 13px;
    color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-num-item-short{
    font-size: 12px;
    color: rgb(94, 94, 94);
    font-family:'Roboto Condensed' ;
}
.item-short-available-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
.instock{
    font-size: 12px;
    color: rgb(125, 125, 125);
    font-family: 'Nova Flat';
}
.description-item-short{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.217);
}
.descrip-item-short-tit{
    font-size: 16px;
    font-family: 'Gemunu Libre';
    color: rgb(0, 0, 20);
}
.descrip-item-short-cont{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-size: 13px;
    text-align: justify;
    font-family: 'Arima';
    color: rgb(63, 63, 63);
}
.basic-item-shprt-info{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 10px;
}
.addi-info-short{
    width: 100%;
    font-size: 15px;
    color: rgb(0, 0, 20);
    font-family: 'Gemunu Libre';
    font-weight: 400;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.view-more-and-emi{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.view-more-btn-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    align-items: center;

}
.view-more-btn{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Reggae One';
    color: rgb(45, 90, 92);
    gap: 2px;
}
.expandsvg{
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    transform: rotate(0deg);
    transition-duration: 0.6s

}
.view-more-btn:hover .expandsvg{
    transform: rotate(-90deg);
    transition-duration: 0.6s
}
.addi-span-info-short{
    font-size: 14px;
    color: rgb(35, 35, 35);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    transform: translateX(100px);
    opacity: 0;
    transition-duration: 1s;
}
.addi-span-info-short.addi-span-info-ani1{
    transform: translateX(0px);
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.7s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955) ;

}
.addi-span-info-short.addi-span-info-ani2 {
    transform: translateX(0px);
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.9s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
}
.addi-span-info-short.addi-span-info-ani3 {
    transform: translateX(0px);
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
}
@keyframes upanddowninitemshort {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);

    }
    100%{
        transform: scale(1)
    }
}
.instock-svg{
    color: rgb(0, 124, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}
.item-short-btn-div{
    height: 100%;
    min-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.item-short-cartbtn{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    color: black;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(55, 55, 55);
    
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-delay: 0s;
   

}
.item-short-likebtn{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    color: rgb(95, 95, 95);
    background-color: rgba(225, 225, 225, 0.537);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Sarpanch';
    gap: 3px;
    position: relative;
    overflow: hidden;
}
.hover-border-move{
    position: absolute;
    height: 0px;
    bottom: 100%;
    right:100%;
    top: 0%;
    width: 20px;
    right: 97%;
    border: 1px solid black;
    background-color: transparent;
    animation: none ;
    transform: scale(0);
        opacity: 0;
}
.item-short-likebtn:hover .hover-border-move{
    animation: bordermove 2s linear infinite 0.2s;
}

@keyframes bordermove {
    0% {
        bottom: 100%;
        right:100%;
        top: 0%;
        width: 20px;
        left: 0%;
        height: 0px;
        transform: scale(1);
        opacity: 1;

    }
    45% {

        right: 0%;
        width: 100px;
        top: 0%;
        bottom:97%;
        left: 97%;
        transform: scale(1);
        opacity: 1;

    }
    46%{
        transform: scale(0);
        opacity: 0;
    }
    49%{
        width: 20px;
        top: 97%;
        bottom: 0%;
        right: 0%;
        left: 97%;
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;

    }
    95%{
        width: 100px;
        bottom: 0%;
        top: 97%;
        left:-40%;
        right:100%;
        transform: scale(1);
        opacity: 1;

    }
    96%{
        transform: scale(0);
        opacity: 0;
    }

    99% {
        width: 100px;
        left:-40%;
        right: 100%;
        top: 0%;
        bottom:97%;
        transform: scale(0);
        opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;

    }
    
}
@keyframes likeheartinitemshortadd {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg) scale(1.5);

    }
    100%{
        transform:  rotateY(360deg) scale(1);

    }
}
@keyframes likeheartinitemshortnotadd {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg) scale(1.5);

    }
    100%{
        transform:  rotateY(360deg) scale(1);

    }
}
.item-short-cart-cartbtn-trans{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateY(60px);
    transition-duration: 0.6s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.add-item-short-span{
    font-size: 16px;
    font-family: 'Sarpanch';
    transition-duration: 0.3s;
    font-weight: 600;
}
.item-short-cartbtn:hover .add-item-short-span{
    z-index: 100;
    color: white;
    transition-duration: 0.4s;
}
.item-short-cartbtn:hover .item-short-cart-cartbtn-trans{
    transform: translateY(0px);
    transition-duration: 0.3s;
  

}

.heart-item-short{
    font-size: 20px;
    color: red;
    transition-duration: 1s;
    transform: scale3d(0.8,0.8,0.8);
}
.item-short-likebtn:hover .heart-item-short{
    transition-duration: 1s;
    transform: scale3d(1,1,1);
}
.pin-code-eligible-found{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.pin-eligible{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pin-inp-div{
    height: 35px;
    width: auto;
    border: 1px solid rgba(214, 214, 214, 0.447);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
}
.pin-inp-box{
    border: none;
    height: 100%;
    width: 120px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 46, 46);
}
.pin-inp-box:focus{
    border: none;
    outline: none;
}
.pin-inp-box[type="number"]::-webkit-inner-spin-button,
.pin-inp-box[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.enter-pin{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor:pointer;
    color: rgb(44, 44, 44);
}
.pin-district{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-top: 10px;
    gap: 5px;
}
.pin-dist-p{
    font-size: 14px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Teachers';
    color: rgb(73, 73, 73);
}
.district-name{
    font-size: 15px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Roboto';
    transform: s;
}
.no-valid-pincode{
    font-size: 15px;

}
.linktopaypage{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.dist-available-for-delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    color: green;
    font-family: 'Roboto';

}
.buy-now-intem-short-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buy-now-btn{
    height: 40px;
    width: 100%;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    background-color: black;
}



.buy-now-btn-notallowed {
    height: 40px;
    width: 50%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.buy-now-btn:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transition-duration: 0.5s;
    border-radius: 10px;
    font-weight: 600;

}
.basic-item-short-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.217);
    border-top: 1px solid rgba(172, 172, 172, 0.217);

}
.item-short-basic{
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.item-short-basic-div-logo{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-basic-item-short{
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(156, 156, 156);
    border-radius:100%;
    background-color: rgba(238, 238, 238, 0.511);
}
.logo-for-basic-item-short{
    font-size: 18px;
    color: rgb(232, 190, 0);
}
.text{
    font-size: 12px;
    color: rgba(49, 49, 49, 0.635);
    font-family: 'Nova Flat';
}





@media screen and (max-width:1300px) {
    
    .item-short-container {
        height: 450px;
            
    }
    .item-short-img-div{
        flex: 1 1 calc(40%);
    }
    .item-short-cont-div{
        flex: 1 1 calc(60%);

    }
    .dist-available-for-delivery{
        font-size: 12px;
    }
    .district-name{
        font-size: 14px;
    }
    .pin-dist-p{
        font-size: 13px;
    }
}




@media screen and (max-width:1200px) {
    .not-able-to-buy-alert-div{
        width: 200px;
        height: 80px;
        
    }
    .alert-buy-inner-div{
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
   
    .imageforbuyerror{
        position: absolute;
        height: 140px;
        width: 80px;
        top: -55px;
        left: 0px;
    
    }

    .sq-one{
        top: -30px;
        right: -10px;
    }
    .sq-two{
        left: 130px;
        bottom: 15px;
    }
    .sq-three{
        bottom: 0px;
        right: -20px;
    }
    .sq-four{
        bottom: -10px;
    }
    .sq-five{
        height: 20px;
        width: 20px;
        left: 80px;
        top: 10px;
    }
    .sq-six{
        height: 20px;
        width: 20px;
    }




    .div-for-cont{
        width: 66%;
    }
    .alert-buy-font{
        font-size: 10px;
        font-weight: 600;
        font-family: 'Open Sans';
    }
    .info-svg-buy-error{
        font-size: 24px;
    }
    .sold-item-initem-short{
        font-size: 13px;
    }
    .item-shot-heading{
        font-size: 23px;
    }
    .item-shot-seller{
        font-size: 13px;
    }
    .acutal-amt-in-item-short{
        font-size: 14px;
    }
    .dis-amt-in-item-short{
        font-size: 25px;
    }
    .descrip-item-short-cont {
        font-size: 12px;
    }
    .item-short-btn-div {
        gap: 20px;
    }

    .text{
        font-size: 11px;
    }
}



@media screen and (max-width:1100px) {
    .item-short-container{
        height: 420px;
        width: 70%;
    }
    .add-item-short-span{
        font-size: 15px;
    }
    .item-short-likebtn{
        font-size: 15px;
    }
    .buy-now-btn-notallowed{
        height: 36px;
    }
    .buy-now-btn{
        height: 36px;
    }
    .logo-basic-item-short{
        height: 33px;
        width: 33px;
    }
}

@media screen and (max-width:1080px) {
    .dist-available-for-delivery{
        font-size: 11px;
    }
  
    
}

@media screen and (max-width:1000px) {
    .item-short-container{
        width: 75%;
        height: 380px;
    }
    .district-name {
        font-size: 13px;
    }
    .no-valid-pincode{
        font-size: 13px;
    
    }
    .text{
        font-size: 10px;
    }
    .descrip-item-short-tit{
        font-size: 15px;
    }
    .addi-info-short{
        font-size: 14px;
    }
    .heart-in-like-add{
        font-size: 18px;
    }
    .item-short-likebtn{
        gap: 5px;
    }
}

@media screen and (max-width:900px) {
    .item-short-container{
        width: 80%;
        height: 360px;
    }
 
    .sold-item-initem-short{
        font-size: 12px;
    }
    .review-num-item-short{
        font-size: 11px;
    }
    .discount-percentage-item-short {
        font-size: 11px;
    }
    .star-for-item-short{
        font-size: 11px;
    }
    .item-short-close-svg{
        font-size: 16px;
    }
    .view-more-btn{
        font-size: 11px;
    }
    .item-short-btn-div {
        min-height: 36px;
}
.add-item-short-span{
    font-size: 14px;
}
.item-short-likebtn{
    font-size: 14px;
}
.heart-in-like-add{
    font-size: 16px;
}
.pin-inp-div{
    height: 35px;
}
  .enter-pin{
  
    border-radius: 6px;
  }
  .arrow-for-pin{
    font-size: 14px;
  }

  .dist-available-for-delivery{
    font-size: 12px;
  }
  .pin-dist-p{
    font-size: 13px;
  }

  .district-name {
    font-size: 13px;
}
.no-valid-pincode{
    font-size: 11px;

}
.buy-now-btn{
    height: 36px;
    border-radius: 5px;
    font-size: 15px;
}
.buy-now-btn-notallowed{
    height: 36px;
    border-radius: 5px;
    font-size: 15px;

}
}




@media screen and (max-width:800px) {
    
    .item-short-container{
        width: 80%;
        height: 340px;
    }
    .item-short-img-div{
        flex: 1 1 calc(35%);
    }
    .item-short-cont-div{
        flex: 1 1 calc(65%);

    }
    .item-shot-heading{
        font-size: 21px;
    }
    .sold-item-initem-short{
        font-size: 11px;
    }
    .dis-amt-in-item-short{
        font-size: 23px;
    }
    .acutal-amt-in-item-short{
        font-size: 13px;
    }
    .star-for-item-short,.review-num-item-short{
        font-size: 10px;
    }
    .descrip-item-short-cont{
        font-size: 11px;
        color: rgb(43, 43, 43);
    }
    .addi-span-info-short{
        font-size: 12px;
    }
    .instock-svg{
        font-size: 15px;
    }
    .item-short-btn-div{
        gap: 40px;
    }
    .pin-eligible{
        font-size: 13px;
    }
    
    .logo-basic-item-short{
        height: 31px;
        width: 31px;
    }
    .logo-for-basic-item-short{
        font-size: 16px;
    }

}




@media screen and (max-width:750px) {
    .item-short-container{
        width: 83%;
        height: 320px;
    }
    .item-shot-heading {
        font-size: 20px;
}
.item-shot-seller{
    font-size: 12px;
}
.item-short-close-svg{
    font-size: 14px;
}
.sold-item-initem-short{
    font-size: 10px;
}
.review-num-item-short{
    font-size: 9px;
}
.acutal-amt-in-item-short {
    font-size: 12px;
}
.dis-amt-in-item-short{
    font-size: 21px;
}
.discount-percentage-item-short{
    font-size: 10px;
}
.descrip-item-short-tit{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans';
}
.addi-info-short{
    font-size: 12px;
    font-weight: 500;

    font-family: 'Open Sans';
}
.descrip-item-short-cont{
    font-size: 11px;
}
.view-more-btn{
    font-size: 10px;
}
.item-short-btn-div{
    min-height: 34px;
}
.add-item-short-span,.item-short-likebtn{
    font-size: 13px;
}
.heart-in-like-add{
    font-size: 15px;
}
.item-short-likebtn{
    gap: 8px;
}
.pin-eligible{
    font-size: 12px;
}
.pin-inp-box{
    font-size: 12px;
}
.enter-pin{
    width: 35px;
}


.text{
    font-size: 9px;
}
.logo-basic-item-short{
    height: 30px;
    width: 30px;
}
.logo-for-basic-item-short{
    font-size: 15px;
}

.pin-dist-p{
    font-size: 12px;
}
.district-name{
    font-size: 12px;
}
.dist-available-for-delivery{
    font-size: 11px;
}
.buy-now-btn{
    height: 34px;
    border-radius: 5px;
}
.buy-now-btn-notallowed{
    height: 34px;
    border-radius: 5px;
}
}




@media screen and (max-width:700px) {
    .item-short-btn-div{
        gap: 20px;
    }
}

@media screen and (max-width:660px) {
    .item-short-cont-div{
        gap: 30px;
    }
    .item-short-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;
        width: 75%;
        gap: 10px;
    }
    .item-short-img-div{
        flex: 1 1 calc(45%);
    }
    .item-short-cont-div{
        flex: 1 1 calc(55%);
    }
    .item-short-img-div{
        height: 100%;
        width: 100%;
    }

    .item-short-img{
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        height: 100%;
        width: 80%;
        background-size: calc(70%);

    }
    .item-short-close-svg{
        font-size: 18px;
    }
    .item-shot-heading{
        font-size: 24px;
    }
    .item-shot-seller{
        font-size: 14px;
    }
    .sold-item-initem-short{
        font-size: 13px;
    }
    .acutal-amt-in-item-short{
        font-size: 15px;
    }
    .dis-amt-in-item-short{
        font-size: 25px;
    }
    .discount-percentage-item-short {
        font-size: 12px;
}
.star-for-item-short{
    font-size: 13px;
}
.review-num-item-short{
    font-size: 12px;
}
.descrip-item-short-tit{
    font-size: 16px;
    font-family: 'Gemunu Libre';
}
.addi-info-short{
    font-size: 15px;
    font-family: 'Gemunu Libre';
}
.descrip-item-short-cont{
    font-size: 13px;
}
.addi-span-info-short{
    font-size: 14px;
}
.instock-svg{
    font-size: 16px;
}
.view-more-btn{
    font-size: 12px;
}
.item-short-btn-div{
    min-height: 40px;
}
.add-item-short-span{
    font-size: 16px;
}
.item-short-likebtn{
    font-size: 16px;
}
.heart-in-like-add {
    font-size: 20px;
}
.pin-eligible{
    font-size: 14px;
}
.pin-inp-div{
    height: 38px;
}
.arrow-for-pin{
    font-size: 15px;
}
.dist-available-for-delivery{
    font-size: 12px;
}
.pin-dist-p{
    font-size: 14px;
}
.district-name,.no-valid-pincode{
    font-size: 15px;
}
.buy-now-btn {
    height: 40px;
}
.buy-now-btn,.buy-now-btn-notallowed{
    height: 40px;
}
.pin-inp-box{
    font-size: 14px;
}
.logo-basic-item-short{
    height: 35px;
    width: 35px;
}
.logo-for-basic-item-short{
    font-size: 18px;
}
.text{
    font-size: 12px;
}
.item-short-cont-div{
    padding-left: 10px;
    padding-right: 10px;
}

    .item-short-cont-div {
        border-left: none;
    }

}


@media screen and (max-width:600px) {
    .item-short-img{
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        height: 100%;
        width: 70%;
        background-size: calc(85%);

    }
    .not-able-to-buy-alert-div{
        width: 180px;
        height: 70px;
    }
    .imageforbuyerror{
        position: absolute;
        height: 120px;
        width: 70px;
        top: -45px;
        left: 5px;
    }
    .div-for-cont{
        width: 66%;
    }
    .alert-buy-font{
        font-size: 9px;
        font-weight: 600;
        font-family: 'Open Sans';
    }
    .info-svg-buy-error{
        font-size: 22px;
    }
    .item-shot-heading{
        font-size: 22px;
    }
    .item-shot-seller{
        font-size: 12px;
    }
    .sold-item-initem-short{
        font-size: 11px;
    }
    .acutal-amt-in-item-short{
        font-size: 14px;
    }
    .dis-amt-in-item-short{
        font-size: 23px;
    }
    .discount-percentage-item-short{
        font-size: 11px;
    }
    .star-for-item-short{
        font-size: 12px;
    }
    .review-num-item-short{
        font-size: 11px;
    }
    .descrip-item-short-cont{
        font-size: 12px;
    }
    .addi-span-info-short{
        font-size: 13px;
    }
    .item-short-btn-div{
        min-height: 36px;
        gap: 50px;
    }
    .add-item-short-span{
        font-size: 15px;
    }
    .item-short-likebtn{
        font-size: 15px;
    }
    .heart-in-like-add{
        font-size: 18px;
    }
    .buy-now-btn{
        height: 36px;
        font-size: 15px;
    }
    .buy-now-btn-notallowed{
        height: 36px;
        font-size: 15px;
    }
    .pin-eligible{
        font-size: 13px;
    }
    .pin-inp-div{
        height: 37px;
    }
    .arrow-for-pin{
        font-size: 14px;
    }
    .pin-dist-p{
        font-size: 13px;
    }
    .district-name, .no-valid-pincode{
        font-size: 14px;
    }
    .text{
        font-size: 11px;
    }
    .basic-item-short-info{
        gap: 10px;
    }
    .item-short-cont-div::-webkit-scrollbar{
        width: 2px;
        background-color: rgba(133, 133, 133, 0.986);
        border-radius: 20px;
      }
    .item-short-cont-div::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 20px;
    
        background-color: rgba(0, 0, 0, 0.676);
      }


}


@media screen and (max-width:520px) {
    .item-short-container{
        height: 70%;
    }
    .item-short-img-div{
        flex: 1 1 calc(40%);
    }
    .item-short-cont-div{
        flex: 1 1 calc(60%);

    }
    .item-short-img{
        height: 100%;
        width: 70%;
        background-size: calc(80%);
    }
    .item-shot-heading{
        font-size: 20px;
    }
    .sold-item-initem-short{
        font-size: 10px;
    }
    .item-short-amt{
        flex: 1 1 calc(70%);
    }
    .item-short-reviews{
        flex: 1 1 calc(30%);
    }
    .dis-amt-in-item-short{
        font-size: 22px;
    }
    .star-for-item-short{
        font-size: 11px;
    }
    .review-num-item-short{
        font-size: 11px;
    }
    .descrip-item-short-tit{
        font-size: 15px;
    }
    .addi-info-short{
        font-size: 14px;
    }
    .descrip-item-short-cont{
        font-size: 11px;
    }
    .addi-span-info-short{
        font-size: 12px;
    }
    .view-more-btn{
        font-size: 11px;
    }
    .item-short-btn-div{
        min-height: 32px;
        gap: 30px;
    }
    .add-item-short-span {
        font-size: 14px;
    }
    .item-short-likebtn{
        font-size: 14px;
    }
    .pin-inp-div{
        height: 36px;
    }
    .no-valid-pincode{
        font-size: 13px;
    }
    .buy-now-btn{
        height: 32px;
        font-size: 14px;

    }
    .buy-now-btn-notallowed{
        height: 32px;
        font-size: 14px;


    }
    .text{
        
        font-size: 10px;
    }
    .logo-basic-item-short{
        height: 33px;
        width: 33px;
    }
    
}


@media screen and (max-width:480px) {
   
    .item-short-cont-div{
        gap: 15px;
    }
    
    
}

@media screen and (max-width:440px) {
    

    .item-short-img-div{
        flex: 1 1 calc(45%);
    }
    .item-short-cont-div{
        flex: 1 1 calc(55%);

    }
    .item-short-img{
        height: 100%;
        width: 80%;
        background-size: calc(100%);
    }
    .item-short-close-svg{
        font-size: 14px;
    }
    .item-shot-heading{
        font-size: 19px;
    }
    .acutal-amt-in-item-short{
        font-size: 13px;
        color: rgb(78, 78, 78);
    }
    .dis-amt-in-item-short{
        font-size: 21px;
    }
    .discount-percentage-item-short{
        font-size: 10px;
    }
    .star-for-item-short,.review-num-item-short{
        font-size: 10px;
    }
    .descrip-item-short-tit{

        font-size: 13px;
        font-weight: 600;
        font-family: 'Open Sans';
        
    }
    .addi-info-short{
        font-size: 12px;
        font-weight: 600;
        font-family: 'Open Sans';
    }
    .addi-span-info-short{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
    }
    .descrip-item-short-cont{
        color: rgb(0, 0, 0);
    }
    .view-more-btn {
        font-size: 10px;
    }
    .item-short-btn-div{
        min-height: 30px;
    }
    .add-item-short-span,.item-short-likebtn 
        {
        font-size: 13px;
    }
    .heart-in-like-add{
        font-size: 16px;
    }
    .item-short-btn-div{
        gap: 20px;
    }
    .pin-eligible{
        font-size: 12px;
    }
    .pin-inp-box{
        font-size: 13px;
        width: 100px;
    }
    .enter-pin{
        width: 30px;
    }
    .pin-inp-div{
        height: 31px;

    }
    .arrow-for-pin{
        font-size: 13px;
    }
    .no-valid-pincode{
        font-size: 12px;
    }
    .pin-dist-p{
        font-size: 10px;
    }
    .district-name{
        font-size: 12px;
    }
    .dist-available-for-delivery{
        font-size: 10px;
    }
    .buy-now-btn {
        height: 30px;
        font-size: 13px;
    }
    .buy-now-btn-notallowed{
        height: 30px;
        font-size: 13px;
    }
    .basic-item-short-info{
        gap: 5px;
    }
    .logo-basic-item-short{
        height: 31px;
        width: 31px;
    }.logo-for-basic-item-short{
        font-size: 16px;
    }
    .text{
        font-size: 9px;
    }
    .item-short-basic{
        gap: 5px;
    }
}

@media screen and (max-width:385px) {
    .item-shot-heading{
        font-size: 16px;
    }
    .item-short-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .item-short-img-div {
        flex: 1 1 calc(35%);
    }
    .item-short-cont-div {
        flex: 1 1 calc(65%);
    }
    .item-short-img{
        height: 100%;
        width: 80%;
        background-size: calc(80%);
    }
    .item-short-amt{
        gap: 7px;
    }
    .acutal-amt-in-item-short{
        font-size: 11px;
        color: rgb(69, 69, 69);
    }
    .dis-amt-in-item-short{
        font-size: 18px;
    }
    .discount-percentage-item-short{
        font-size: 10px;
    }
    .descrip-item-short-tit{
        font-size: 12px;
    }
    .addi-info-short{
        font-size: 11px;
    }
    .addi-span-info-short{
        font-size: 12px;
    }
    .descrip-item-short-cont{
        font-size: 10px;
    }
    .add-item-short-span, .item-short-likebtn{
        font-size: 12px;
    }
    .heart-in-like-add{
        font-size: 14px;
    }
    .pin-inp-div {
        height: 34px;
        
    }
    .pin-inp-box{
        font-size: 12px;
        width: 100px;
    }
    .enter-pin{
        width: 30px;
    }
    .pin-district{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }
    .pin-dist-p{
        font-size: 10px;
    }
    .district-name{
        font-size: 12px;
    }
    .dist-available-for-delivery{
        font-size: 10px;
    }
    .logo-basic-item-short{
        height: 26px;
        width: 26px;
    }
    .logo-for-basic-item-short{
        font-size: 14px;
    }
    
}


@media screen and (max-width:330px) {
    .sold-item-initem-short{
        font-size: 9px;
    }
    .dis-amt-in-item-short{
        font-size: 16px;
    }
    .acutal-amt-in-item-short{
        font-size: 10px;
    }
    .star-for-item-short, .review-num-item-short{
        font-size: 9px;
    }
    .view-more-btn{
        font-size: 9px;
    }
    .item-short-btn-div{
        gap: 10px;
    }
    .pin-inp-div {
        height: 33px;
}
.enter-pin{
    width: 28px;
}
.arrow-for-pin{
    font-size: 11px;
}
.no-valid-pincode{
    font-size: 11px;
}

}



@media screen and (min-width:310px) and (max-width:900px) and (min-height:790px){

    .item-short-img{
        height:90%;
        width: 90%;
        background-position: center;
        background-size: calc(80%);
    }
}



@media screen and (min-width:440px) and (max-width:900px) and (min-height:790px){

    .item-short-img{
        height:90%;
        width: 90%;
        background-position: center;
        background-size: calc(70%);
    }
}
