@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aubrey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

.ItemLister{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.Itemcontainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 30px;
}
.containethead{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.timeoff-cont{
    font-size: 23px;
    font-family: 'Exo 2';
    font-weight: 600;
    color: rgb(32, 32, 32);
}
.viewall-btn{
    font-size: 14px;
    font-family: 'Kanit';
    color: rgb(32, 32, 32);
    cursor: pointer;
    text-decoration: underline;
}

.itemsshow{
    height: auto;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
}
.rightscrlbtn{
    position: absolute;
    padding: 30px;
    background-color: transparent;
    z-index: 100;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.leftscrlbtn{
    position: absolute;
    padding: 30px;
    background-color: transparent;
    z-index: 100;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.scrollbtn-right{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgba(225, 225, 225, 0.313);
    border: none;
    cursor: pointer;
    border: 1px solid rgba(193, 193, 193, 0.603);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.scrollbtn-left{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgba(225, 225, 225, 0.313);
    border: none;
    cursor: pointer;
    border: 1px solid rgba(193, 193, 193, 0.603);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.arrowsvg{
    font-size: 23px;
    color: rgb(61, 61, 61);
    transition-duration: 1s;

}
.scrollbtn-right:hover .arrowsvg{
    transform: translateX(5px);
    transition-duration: 1s;
}
.scrollbtn-left:hover .arrowsvg{
    transform: translateX(-5px);
    transition-duration: 1s;
}
.item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 90%;
    overflow: hidden;
}
.item-container::-webkit-scrollbar{
    height: 4px;
    background-color: aliceblue;
}
.item-container::-webkit-scrollbar-thumb{
    height: 4px;
    background-color: rgba(161, 161, 161, 0.345);
}
.item-cont{
    width: 100%;
 
}
.item-holder{
    display: flex;
    width: fit-content;
   

}
.hoverani{
    transition-delay: 0s;
    transition-duration: 1s;
    scale: 0.9;
}

.items{

    height: 350px;
    width: 260px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(160, 160, 160, 0.445);
    border-radius: 5px;
    opacity: 0;
    transform: translateY(60px) ;
    transition-duration: 1s;
}



.item-in-main-list-sub-images{
    position: absolute;
    bottom: 20px;
    right: 10px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-list-sub-images{
    height: 26px;
    width: 26px;
    border-radius: 100%;
    border: 2px solid rgb(176, 176, 176);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: zoom-in;
}

.availability-of-item-in-main-item-list{
    position: absolute;
    height: auto;
    width: auto;
    padding: 8px 12px 8px 12px;
    background-color: rgba(236, 236, 236, 0.507);
    border: 1px solid rgba(180, 180, 180, 0.365);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 10px;
    bottom: 20px;
    transform: translateX(-100px) scale(0);
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    transition-timing-function: linear;

}
.availability-showing-para-in-main-list{
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 600;
    color: rgb(33, 33, 33);
    display: flex;
    gap: 6px;

}
.not-availability-of-item-in-main-item-list{
    position: absolute;
    height: auto;
    width: auto;
    padding: 8px 12px 8px 12px;
    background-color: rgba(236, 236, 236, 0.546);
    border: 1px solid rgba(180, 180, 180, 0.365);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 10px;
    bottom: 20px;
}
.not-availability-showing-para-in-main-list{
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 600;
    color: rgb(33, 33, 33);
    display: flex;
    gap: 6px;

}
.not-avail-name-in-main-list{
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: 600;
    color: rgb(33, 33, 33);
}
.avail-name-in-main-list{
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: 600;
    color: rgb(33, 33, 33);
}
.items-in-view-all:hover .availability-of-item-in-main-item-list{
    transform: translateX(0px) scale(1);
    opacity: 1;
    transition-duration: 0.4s;
    transition-timing-function: linear;

}
.items.upper{
    transition-duration: 1s;
    opacity: 1;
    transform: translateY(0);
}


.hoverani:hover{
    transition-delay: 0s;

    scale: 1;
    transition-duration: 1s;
}
.imghrt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}

.imgprod{
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes imagechangeinlistmain {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0.5);

    }
    100%{
        transform: scale(1);
    }
}
.heart{
    position: absolute;
    right: 20px;
    top: 20px;
}

.view{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   

}


.eyeview{
    
    font-size: 20px;
    color: rgb(38, 38, 38);
    cursor: pointer;
    opacity: 0;
    transform: scale3d(0,0,0);
    
    transition-duration: 1s;
}
.items:hover .eyeview{
    opacity: 1;
    transform: scale3d(1,1,1);
    transition-duration: 1s;

}
.heartimg{
    height: 20px;
    width: 20px;
    color: rgb(59, 59, 59);
    cursor: pointer;
}
.red{
    color: rgb(255, 28, 28);
    
   
}
@keyframes hrttrue {
    from{
        opacity: 0;
        transform: rotate3d(0, 0,0, 0deg);
    }
    to{
        opacity: 1;
        transform:rotate3d(100, 100,65, 360deg);
    }
}
@keyframes hrtfalse {
    from{
        opacity: 0;
        transform: rotate3d(0, 0,0, 0deg);
    }
    to{
        opacity: 1;
        transform:rotate3d(100, 100,65, 360deg);
    }
}

.infoitem-for-list-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
}
.price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.greener{
    font-size: 16px;
    color: rgb(19, 94, 25);
    font-family: 'Dosis';
    display: flex;
    font-weight: 600;
    gap: 5px;
}
.acutalprice{
    font-size: 12px;
    color: rgb(142, 142, 142);
    text-decoration: line-through;
    font-family: 'Merienda';
}
.disamt{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lobster';
}

.descripdiv{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.description-in-list-items{
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 600;
    color: rgb(68, 68, 68);
}
.cartbtn-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cartbtn{
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px;
    overflow: hidden;
}
.addcartimg{
    font-size: 26px;
    cursor: pointer;

}
.cart-image-for-list-item{
    font-size: 26px;
    cursor: pointer;
}
@keyframes addcart {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes addcartback {
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(-100px);
    }
}

@keyframes empcart {
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(100px);
    }
}
@keyframes empcartback {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.addcar{
    transform: translateX(100px);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);

}
.rermovecart{
    transform: translateX(0px);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}

.offershow{
    position: relative;
    overflow: hidden;
}
.golden-offer{
    position: absolute;
    height: 14px;
    width: 170px;
    top: 40px;
    left: -40px;
    background-color: rgb(255, 204, 74);
    border: 1px solid rgb(70, 70, 70);
    z-index: 100000;
    transform: rotate(320deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Genos';
    font-weight: 600;
    padding-left: 12px;
}
.star{
    height: 30px;
    width: 60px;
    position: absolute;
}
.first-star{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 196, 0);
    left: -20px;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 
        50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%
      );
    border: 1px solid black;
    animation: movementstar 4s linear infinite;
}
.follow-star{
    position: absolute;

    height: 20px;
    width: 20px;
    background-color: rgb(6, 6, 6);
    left: 0px;
    top: 10px;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 
        50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%
      );
      animation: movementstarfollow 4s linear infinite;

}
.imghrt{
    flex: 1 1 calc(80%);
}
.infoitem-for-list-items{
    flex: 1 1 calc(20%);
}
@keyframes movementstar {
    0%{
        left: -80px;
        transform: translateY(0px);
        
    }
    5%{
        left: -30px;
        transform: translateY(-20px);


    }
    10%{
        left: -20px;
        transform: translateY(20px) rotate(100deg);


    }
    20%{
        left: 20px;
        transform: translateY(-30px) rotate(200deg);
        

    }
    30%{
        left: 50px;
        transform: translateY(30px)  rotate(360deg);

    }
    40%{
        left: 80px;
        transform: translateY(-40px);
    }
    50%{
        left: 100px;
        transform: translateY(10px);

    }
    60%{
        left: 80px;
        transform: translateY(-40px);
    }
    70%{
        left: 50px;
        transform: translateY(30px)   rotate(360deg);
    }
    80%{
        left: 20px;
        transform: translateY(-30px) rotate(200deg);
    }
    90%{
        left: -20px;
        transform: translateY(20px) rotate(100deg);
    }
    95%{
        left: -30px;
        transform: translateY(-20px);

    }
    100%{
        left: -80px;
        transform: translateY(0px);

    }
}
@keyframes movementstarformobile {
    0%{
        left: -80px;
        transform: translateY(0px);
        
    }
    5%{
        left: -30px;
        transform: translateY(-10px);


    }
    10%{
        left: -20px;
        transform: translateY(10px) rotate(100deg);


    }
    20%{
        left: 20px;
        transform: translateY(-20px) rotate(200deg);
        

    }
    30%{
        left: 50px;
        transform: translateY(20px)  rotate(360deg);

    }
    40%{
        left: 80px;
        transform: translateY(-30px);
    }
    50%{
        left: 100px;
        transform: translateY(30px);

    }
    60%{
        left: 80px;
        transform: translateY(-30px);
    }
    70%{
        left: 50px;
        transform: translateY(30px)   rotate(360deg);
    }
    80%{
        left: 20px;
        transform: translateY(-20px) rotate(200deg);
    }
    90%{
        left: -20px;
        transform: translateY(10px) rotate(100deg);
    }
    95%{
        left: -30px;
        transform: translateY(-10px);

    }
    100%{
        left: -80px;
        transform: translateY(0px);

    }
}


@keyframes movementstarfollow {
    0%{
        left: -80px;
        transform: translateY(0px);
        
    }
    10%{
        left: -30px;
        transform: translateY(-20px);


    }
    15%{
        left: -20px;
        transform: translateY(20px) rotate(100deg);


    }
    25%{
        left: 20px;
        transform: translateY(-30px) rotate(200deg);
        

    }
    40%{
        left: 50px;
        transform: translateY(30px)  rotate(360deg);

    }
    50%{
        left: 80px;
        transform: translateY(-40px);
    }
    55%{
        left: 100px;
        transform: translateY(10px);

    }
    65%{
        left: 80px;
        transform: translateY(-40px);
    }
    72%{
        left: 50px;
        transform: translateY(30px)   rotate(360deg);
    }
    85%{
        left: 20px;
        transform: translateY(-30px) rotate(200deg);
    }
    92%{
        left: -20px;
        transform: translateY(20px) rotate(100deg);
    }
    98%{
        left: -30px;
        transform: translateY(-20px);

    }
    100%{
        left: -80px;
        transform: translateY(0px);

    }
}



@keyframes movementstarfollowformobile {
    0%{
        left: -80px;
        transform: translateY(0px);
        
    }
    10%{
        left: -30px;
        transform: translateY(-10px);


    }
    15%{
        left: -20px;
        transform: translateY(10px) rotate(100deg);


    }
    25%{
        left: 20px;
        transform: translateY(-20px) rotate(200deg);
        

    }
    40%{
        left: 50px;
        transform: translateY(20px)  rotate(360deg);

    }
    50%{
        left: 80px;
        transform: translateY(-30px);
    }
    55%{
        left: 100px;
        transform: translateY(10px);

    }
    65%{
        left: 80px;
        transform: translateY(-30px);
    }
    72%{
        left: 50px;
        transform: translateY(20px)   rotate(360deg);
    }
    85%{
        left: 20px;
        transform: translateY(-20px) rotate(200deg);
    }
    92%{
        left: -20px;
        transform: translateY(10px) rotate(100deg);
    }
    98%{
        left: -30px;
        transform: translateY(-10px);

    }
    100%{
        left: -80px;
        transform: translateY(0px);

    }
}


/* List oF Items Responsive Design */

@media screen and  (max-width:1330px) {
    .timeoff-cont{
        font-size: 21px;
    }
    .viewall-btn{
        font-size: 13px;
    }
    .Itemcontainer{
        padding: 20px;
    }
  
    .item-container{
        width: 100%;

    }
    .scrollbtn-right,.scrollbtn-left{
        border-color: rgb(164, 164, 164);
        background-color: rgb(255, 255, 255);
    }

}


@media screen and  (max-width:1230px) {
    .items{
        height: 330px;
        width: 230px;
    }
    .infoitem-for-list-items{
        padding-left: 0px;
        padding-right: 0px;
    }
    .item-holder {
        gap: 10px;
    }
    .description-in-list-items{
        font-size: 13px
    }

}




@media screen and  (max-width:1090px) {
    .scrollbtn-right, .scrollbtn-left{
        height: 30px;
        width: 30px;
    }

    .timeoff-cont{
        font-size: 18px;
    }
    .viewall-btn{
        font-size: 11px;
    }
    .Itemcontainer{
        padding: 20px;
    }


    .leftscrlbtn{
        padding: 0px;
        padding-left: 0px;
    }
    .rightscrlbtn{
        padding: 0px;
        padding-right: 0px;
    }
    
    .arrowsvg{
        font-size: 15px;
    }
    .item-container{
        width: 100%;
    }

    .items{
        height: 275px;
        width: 215px;
        gap: 0px;
    }
    .imghrt{
        flex: 1 1 calc(80%);
    }
    .infoitem-for-list-items{
        flex: 1 1 calc(20%);
    }
    .greener{
        font-size: 13px;
    }
    .disamt{
        font-size: 16px;
    }
    .description-in-list-items{
        font-size: 11px;
        width: 100%;
    }
    .cart-image-for-list-item{
        font-size: 22px;
    }
    
    .infoitem-for-list-items{
        padding-left: 0px;
        padding-right: 0px;
    }
    .item-holder {
        gap: 10px;
    }
    .heartimg{
        height: 18px;
        width: 18px;
    }
    .golden-offer{
        height: 10px;
        font-size: 14px;
    }
    .eyeview{
        font-size: 16px;
    }
    .imghrt{
        padding: 0px;
    }
    
}


@media screen and  (max-width:940px) {
    .item-holder {
        gap: 0px;
    }
}


@media screen and  (max-width:900px) {
    .timeoff-cont{
        font-size: 15px;
    }
    .viewall-btn{
        font-size: 10px;
    }
    .containethead{
        padding-left: 10px;
        padding-right: 10px;
    }
    .Itemcontainer{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .itemsshow {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }


    .leftscrlbtn{
        padding: 0px;
        padding-left: 10px;
    }
    .rightscrlbtn{
        padding: 0px;
        padding-right: 10px;
    }
    .scrollbtn-right,.scrollbtn-left{
        height: 32px;
        width: 32px;
        background-color: rgb(255, 255, 255);
    }
    .arrowsvg{
        font-size: 17px;
    }
    .item-container{
        width: 100%;
    }

    .items{
        height: 260px;
        width: 200px;
        gap: 0px;
    }
    .imghrt{
        flex: 1 1 calc(80%);
    }
    .infoitem-for-list-items{
        flex: 1 1 calc(20%);
    }
    .greener{
        font-size: 12px;
    }
    .disamt{
        font-size: 15px;
    }
    .description-in-list-items{
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        width: 100%;
    }
    .cart-image-for-list-item{
        font-size: 19px;
    }
    
    .infoitem-for-list-items{
        padding-left: 0px;
        padding-right: 0px;
      
    }
    .infoitem-for-list-items{

        gap: 4px;
    }

    .heartimg{
        height: 16px;
        width: 16px;
    }
    .golden-offer{
        height: 9px;
        font-size: 13px;
        border: none;
    }
    .first-star{
        height: 24px;
        width: 24px;
    }
    .follow-star{
        height: 18px;
        width: 18px;
    }

    .eyeview{
        font-size: 14px;
    }
    .imghrt{
        padding: 0px;
    }
}


@media screen and  (max-width:820px) {
    .Itemcontainer{
        padding-left: 0px;
        padding-right: 0px;
    }
    .containethead{
        padding-left: 15px;
        padding-right: 25px;
    }
    .scrollbtn-right, .scrollbtn-left{
        height: 30px;
        width: 30px;
    }
    .arrowsvg{
        font-size: 16px;
    }
    .rightscrlbtn{
        padding-right: 15px;
    }
    .leftscrlbtn{
        padding-left: 15px;
    }
    
}


@media screen and  (max-width:800px) {

    .items{
        height: 240px;
        width: 190px;
        gap: 0px;
    }
    .imghrt{
        height: 100%;
        width: 100%;
    }
    .infoitem-for-list-items{
        padding-top: 0px;
    }
    .golden-offer{
       top: 30px;
       left: -50px;
    }
    .heart{
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .view{
        left: auto;
        top: 40px;
        right: 20px;
    }
    .eyeview{
        opacity: 1;
        transform: scale3d(1,1,1);
       
    
    }
    .view{
        height: 16px;
        width: 16px;
    }.eyeview{
        font-size: 14px;
        color: rgb(58, 58, 58);
    }

    .first-star{
        height: 21px;
        width: 21px;
    }
    .follow-star{
        height: 16px;
        width: 16px;
    }

}


@media screen and  (max-width:700px) {
    .timeoff-cont{
        font-size: 15px;
    }
    .viewall-btn{
        font-size: 9px;
    }
    .items{
        height: 240px;
        width: 180px;
    }
    
}


@media screen and  (max-width:630px) {
    .items{
        height: 235px;
        width: 170px;
        gap: 7px;
    }
    .golden-offer{
        font-size: 11px;
    }
    .heartimg,.view{
        height: 15px;
        width: 15px;
    }
    .eyeview {
        font-size: 13px;
    }
    .greener{
        font-size: 12px;
        font-family: 'Cabin';
    }
    .disamt{
        font-size: 14px;
    

    }
    .acutalprice{
        font-size: 10px;
    }
}


@media screen and  (max-width:590px) {
    .timeoff-cont{
        font-size: 14px;
    }

    .items{
        height: 205px;
        width: 155px;
        gap: 7px;
    }
    .description-in-list-items{
        font-size: 9px;
    }
    .cart-image-for-list-item
        {
        font-size: 16px;
    }
    .cartbtn-div{
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .golden-offer{
        font-size: 10px;
        height: 8px;
        left: -60px;
        top: 25px;
    }
    .view,.heart{
        right: 15px;
    }
    .Itemcontainer{
        padding-top: 10px;
    }
}


@media screen and  (max-width:520px) {
    .items{
        height: 200px;
        width: 140px;
        gap: 7px;
    }
    .scrollbtn-right, .scrollbtn-left{
        height: 27px;
        width: 27px;
    }
    .arrowsvg{
        font-size: 15px;
    }
    .timeoff-cont{
        font-size: 13px;
    }
    .heartimg, .view{
        height: 13px;
        width: 13px;
    }
    .eyeview{
        font-size: 12px;
    }.greener{
        font-size: 11px;
    }
    .disamt{
        font-size: 13px;
    }
    .description-in-list-items{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .cartbtn-div{
        padding-top: 2px;

    }
}



@media screen and  (max-width:480px) {
    .items{
        height: 190px;
        width: 130px;
        gap: 7px;
    }
    .scrollbtn-right, .scrollbtn-left{
        height: 20px;
        width: 20px;
        border-color: rgb(157, 157, 157);
    }
    .arrowsvg{
        font-size: 12px;
    }
    .golden-offer {
        font-size: 9px;
    }
    .golden-offer{height:7px;}
    .view{
        top: 35px;
    }
    .heartimg, .view{
        height: 12px;
        width: 12px;
    }
    .eyeview{
        font-size: 11px;
    }
    .star{
        height: 20px;
    }
    .first-star{
        height: 18px;
        width: 18px;
    }
    .follow-star{
        height: 14px;
        width: 14px;
    }
    .greener{
        font-size: 10px;
    }
    .disamt{
        font-size: 12px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .cart-image-for-list-item{
        font-size: 15px;
    }
}



@media screen and  (max-width:440px) {
    .items{
        height: 180px;
        width: 120px;
        gap: 7px;
    }
    .golden-offer{
        font-family: 'Cabin';
        font-weight: 600;
        font-size: 7px;
        top: 20px;
        left: -70px;
    }
    .first-star{
        
          animation: movementstarformobile 4s linear infinite;
    
    }
    
.follow-star{
 
      animation: movementstarfollowformobile 4s linear infinite;

}
}


@media screen and  (max-width:410px) and  (max-height:800px){
    .items{
        height: 170px;
        width: 100px;
        gap: 7px;
    }
    .greener{
        font-size: 8px;
        gap: 3px;
    }
    .disamt{
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .description-in-list-items{
        font-size: 8px;
    }
    .cart-image-for-list-item{
        font-size: 14px;
    }
    .heartimg, .view{
        height: 11px;
        width: 11px;
    }
    .view, .heart{
        right: 10px;
    }
    .eyeview{
        font-size: 10px;
    }
    .view{

        top: 30px;
  
    }
    .arrowsvg{
        font-size: 11px;
    }
    .scrollbtn-right, .scrollbtn-left{
        height: 18px;
        width: 18px;
    }

    .timeoff-cont{
        font-size: 12px;
    }
    .viewall-btn{
        font-size: 8px;
    }

    .item-holder{
        gap: 5px;
    }

}


@media screen and  (max-width:360px) and  (max-height:800px) {
    .items{
        height: 150px;
        width: 90px;
        gap: 2px;
    }
    .infoitem-for-list-items{
        gap: 2pz;
    }
    .cartbtn-div{
        padding: 0px;
        padding-bottom: 3px;
    }
    .description-in-list-items,.greener{
        font-size: 7px;
    }
    .disamt{
        font-size: 9px;
    }
    .golden-offer{
        font-size: 6.5px;
    }
    .heartimg, .view{
        height: 10px;
        width: 10px;
    }
    .viewall-btn{
        font-size: 7px;
    }
    .timeoff-cont{
        font-size: 11px;
    }
    .first-star{
        height: 16px;
        width: 16px;
    }
    .follow-star{
        height: 12px;
        width: 12px;
    }
}



@media screen and  (min-width:320px) and  (max-width:450px) and (min-height:800px) and (max-height:950px) {
    .items{
        height: 180px;
        width: 120px;
        gap: 7px;
    }
    .greener{
        font-size: 10px;
        gap: 3px;
    }
    .disamt{
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .description-in-list-items{
        font-size: 9px;
    }
    .cart-image-for-list-item{
        font-size: 16px;
    }
    .heartimg, .view{
        height: 12px;
        width: 12px;
    }
    .view, .heart{
        right: 10px;
    }
    .eyeview{
        font-size: 12px;
    }
    .view{

        top: 30px;
  
    }
    .arrowsvg{
        font-size: 12px;
        color: black;
    }
    .scrollbtn-right, .scrollbtn-left{
        height: 20px;
        width: 20px;
    }

    .timeoff-cont{
        font-size: 14px;
    }
    .viewall-btn{
        font-size: 9px;
    }

    .item-holder{
        gap: 8px;
    }
}

@media screen and  (min-width:650px) and (min-height:960px){
    .timeoff-cont{
        font-size: 22px;
    }
    .viewall-btn{
        font-size: 14px;
    }
    .containethead{
        padding-left: 10px;
        padding-right: 20px;
    }
    .Itemcontainer{
        padding: 10px;
    }
    .itemsshow {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }


    .leftscrlbtn{
        padding: 0px;
        padding-left: 10px;
    }
    .rightscrlbtn{
        padding: 0px;
        padding-right: 10px;
    }
    .scrollbtn-right,.scrollbtn-left{
        height: 36px;
        width: 36px;
        background-color: rgb(255, 255, 255);
    }
    .arrowsvg{
        font-size: 19px;
        color: black;
    }
    .item-container{
        width: 100%;
    }

    .items{
        height: 320px;
        width: 230px;
        gap: 0px;
    }
    .imghrt{
        flex: 1 1 calc(80%);
    }
    .infoitem-for-list-items{
        flex: 1 1 calc(20%);
    }
    .greener{
        font-size: 18px;
    }
    .disamt{
        font-size: 20px;
    }
    .description-in-list-items{
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        width: 100%;
    }
    .cart-image-for-list-item{
        font-size: 24px;
    }
    
    .infoitem-for-list-items{
        padding-left: 0px;
        padding-right: 0px;
      
    }
    .infoitem-for-list-items{

        gap: 8px;
    }

    .heartimg{
        height: 16px;
        width: 16px;
    }
    .golden-offer{
        height: 10px;
        font-size: 16px;
        border: none;
    }
    .first-star{
        height: 28px;
        width: 28px;
    }
    .follow-star{
        height: 20px;
        width: 20px;
    }

    .eyeview{
        opacity: 1;
        transform: scale3d(1,1,1);
       
    
    }
    .imghrt{
        padding: 0px;
    }
    .heartimg, .view{
        height: 22px;
        width: 22px;
    }
    .eyeview{
        font-size: 20px;
    }
    .view{
        left: auto;
        top: 60px;
        right: 20px;
    }
}