@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.navbar{
    height:auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 10000;
    
}

.home-style{
    height: 500vh;
    
}
.stickynav{
    height:auto;
    width: 100%;
   

    z-index: 10000;
   
    position: fixed;
   top: 0px;
   
}

.serdiv{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(114, 114, 114, 0.715);
}
.address-for-computer{
    color: black;
}
.serdiv input{
    width: 100%;
    padding-left: 8px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    height: 30px;
    padding-right: 8px;
    font-size: 15px;
    font-family: 'Ubuntu';
    color: rgb(53, 53, 53);
}
.serdiv input::placeholder{
    font-family: 'Playwrite AU SA';
    font-weight: 600;
    color: rgb(144, 144, 144);
    letter-spacing: 2px;
    font-size: 12px;

}
.like{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
    cursor: pointer;
}
.likedsvg{
    font-size: 20px;
    color: brown;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cartsvg{
    font-size: 30px;
}
.serdiv input:focus{
    border: none;
    outline: none;
}
.serbtn{
    border: none;
    background-color:transparent;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 119, 255, 0.717);
}
.sersvg{
    color: white;
    
}
.firstnav-cont{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.navfirstdiv{
    flex: 1 1 calc(30%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.logo{
    flex: 1 1 calc(20%);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  
}

.iconsvg{
    font-size: 60px;
    color: brown;
    cursor: pointer;
}
.add{
    position: relative;
}
.hoverview{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(183, 183, 183, 0.274);
    border-radius: 30px;
    opacity: 0;
    transition-duration: 0.7s;
    
}

.sigupadd{
    position: relative;
    cursor: pointer;
}
.signupview{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid rgb(100, 100, 100);
    background-color:transparent;
    opacity: 0;
    transition-duration: 0.7s;
    border-radius: 5px;
}
.signupview-for-mob{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid rgb(255, 255, 255);
    background-color:transparent;
    opacity: 0;
    transition-duration: 0.7s;
    border-radius: 5px;
}
.sigupadd:hover .signupview{
    width: 100%;
    opacity: 1;
    transition-duration: 0.7s;

}
.sigupadd:hover .signupview-for-mob{
    width: 100%;
    opacity: 1;
    transition-duration: 0.7s;

}
.sigupadd:hover .login{
    background-color: transparent;
    transition-duration: 0.7s;

}
.webname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.tit-computer{
    font-size: 12px;
    font-weight: 600;
    font-family: 'Orbitron';
    color: rgb(39, 0, 0);
    cursor: pointer;
}
.locate{
    flex: 1 1 calc(60%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.locate p{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid white;
   
    gap: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.address-for-computer{
    font-family: 'M PLUS Rounded 1c';
    font-size: 12px;
    font-weight: 600;    color: black;

}
.locsvg{
    font-size: 18px;
    transition-duration: 1s;
    color: black;

}
.add{
    cursor: pointer;
}
.add:hover .hoverview{
    opacity: 1;
    width: 100%;
    transition-duration: 0.7s;
}
.add:hover .locsvg{
    transform: rotate3d(1, 1, 0, 360deg);;
    transition-duration: 1s;
}
.seconddiv{
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    padding-right: 40px;
}
.seconddiv p{
    font-family: 'Kanit';
    font-size: 14px;
    color: rgb(31, 31, 31);
}
.seconddiv-for-img{
    flex: 1 1 calc(70%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    padding-right: 40px;
   
}
.mob-clr{
    font-family: 'Kanit';
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.comp-nav-items{
    font-family: 'Kanit';
    font-size: 14px;
    color: rgb(82, 82, 82);
}
.orret{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition-duration: 0.8s;
}

.underlinerel{
    position: relative;
    cursor: pointer;
}
.lineunder{
    width: 0%;
    position: absolute;
    height: 3px;
    bottom: -5px;
    background-color: red;
    right: 0px;
    transition-duration: 0.7s;
    opacity: 0;
}
.underlinerel:hover .lineunder{
    left: 0px;
    opacity: 1;
    width: 100%;
}

.logdiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.login{
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: rgba(207, 242, 254, 0.653);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 4px;
    color: rgb(0, 0, 0);
    transition-duration: 0.7s;

}
.log-for-mob{
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: rgba(67, 67, 67, 0.381);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 4px;
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;
}
.sigupadd:hover .loginsvg{
    transform: translateX(10px);
    transition-duration: 1s;
}
.loginsvg{
    font-size: 25px;
    transition-duration: 1s;
}

.storedep{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 45px;
    background-color: rgb(255, 255, 255);
}
.storedep p{
    font-family: 'IBM Plex Mono';
    font-size: 14px;
    font-weight: 500;
    color: rgb(52, 52, 52);
}
.storedep-flx p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}


.mob-device-nav-bar{
    height:100%;
    width: 100%;
    flex: 1 1 calc(40%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: none;
    padding-right: 20px;
}
.burger-menu-home{
    font-size: 20px;
    cursor: pointer;
    color: rgb(26, 26, 26);
}
.login-mob{
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: rgba(207, 242, 254, 0.653);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 4px;
    color: rgb(0, 0, 0);
    transition-duration: 0.7s;
    
}
.loginsvg-mob{
    font-size: 25px;
    transition-duration: 1s;
}

.signupview-for-nav{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid rgb(100, 100, 100);
    background-color:transparent;
    opacity: 0;
    transition-duration: 0.7s;
    border-radius: 5px;
}
/* Nav Bar in Main Cont Responsive DEsing */


@media screen and  (max-width:1200px) {
    .seconddiv-for-img{

        padding-right: 30px;
        gap: 70px;
    }
}


@media screen and  (max-width:1150px) {
    .seconddiv-for-img{

        padding-right: 30px;
        gap: 60px;
    }
}

@media screen and  (max-width:1090px) {
    .iconsvg{
        font-size: 45px;
    }
    .tit-computer{
        font-size: 11px
    }
    .comp-nav-items{
        font-size: 12px;
    }
    .loginsvg{
        font-size: 16px;
    }
    .login{
        padding: 7px;
        padding-left: 27px;
        padding-right: 27px;
        
    }
    .seconddiv-for-img{
        padding-right: 10px;
        gap: 55px;
    }
}

@media screen and  (max-width:900px) {
    .seconddiv-for-img{
        padding-right: 10px;
        gap: 40px;
    } 
    .login{
        padding: 7px;
        padding-left: 22px;
        padding-right: 22px;
        
    }
    .comp-nav-items{
        font-size: 12px;
    }


    .tit-computer{
        font-size: 10px
    }
}

@media screen and  (max-width:800px) {
    .seconddiv-for-img{
        gap: 40px;
    } 
    .login{
        padding: 7px;
        padding-left: 22px;
        padding-right: 22px;
        
    }
    .comp-nav-items{
        font-size: 11px;
    }
    .loginsvg{
        font-size: 15px;
    }


   
}


@media screen and  (max-width:700px) {
    .iconsvg{
        font-size: 40px;
    }
    .tit-computer{
        font-size: 9px
    }
    .login{
        padding: 7px;
        padding-left: 18px;
        padding-right:18px;
        
    }
    .comp-nav-items{
        font-size: 10px;
        
       
    }
    .loginsvg{
        font-size: 12px;
    }
}

@media screen and  (max-width:650px) {
    .seconddiv-for-img{
        gap: 30px;
    } 
}

@media screen and  (max-width:600px) {
    .seconddiv-for-img{
        display: none;
        
    }
    .mob-device-nav-bar{
        display: flex;
       
    }
}