@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.sub-section-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.container-for-introduction-of-product{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 50px 30px;
    gap: 40px;
}
.first-intro-product{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px 100px;
    gap: 40px;
}

.sub-first-div-intro{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    border-radius:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.sub-second-div-intro{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    border-radius:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.first-intro-cont,.second-intro-cont{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

}


.content-div-in-intro-first,.content-div-in-intro-second{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 5px;
}
.what-itro-about,.what-itro-about-second{
    width: 100%;
    font-size: 16px;
    color: #d0473e;
    font-family: 'Anta';
    font-weight: 600;
}
.special-offer-intro,.special-offer-intro-offer,.special-offer-intro-second,.special-offer-intro-offer-second{
    width: 100%;
    font-size: 25px;
    color: rgb(54, 54, 54);
    font-family: 'Exo 2';
    font-weight: 800;
}
.sub-tit-in-first-intro,.sub-tit-in-second-intro{
    font-size: 16px;
    font-family: 'Signika Negative';
    color: rgb(91, 91, 91);
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;

}
.amount-showcase-in-first-intro,.amount-showcase-in-second-intro{
    font-size: 25px;
    color: #d0473e;
    font-weight: 800;
    font-family: 'Exo 2';
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}


.first-intro-images,.second-intro-images{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;

}
.image-showing-bar-intro-first,.image-showing-bar-intro-second{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: rgb(255, 229, 195);
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
.intro-image-tag{
    height: 200px;
    width:150px;
    position: absolute;
    bottom: 0px;
    background-image: url('/Subsectionimg/photoforsubsection.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-img-tag-two{
    position: absolute;
    height: 150px;
    width:100px;
    position: absolute;
    top: -30px;
    left: -120px;
    background-image: url('/Subsectionimg/cloths-male.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-img-tag-three{
    position: absolute;
    height: 150px;
    width:100px;
    position: absolute;
    bottom: -60px;
    right: -80px;
    background-image: url('/Subsectionimg/cloths-second.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-image-tag-second{
    height: 200px;
    width:150px;
    position: absolute;
    bottom: 0px;
    background-image: url('/Subsectionimg/handbagphotoforsubection.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-images-second-intro{
    height: 80px;
    width:80px;
    position: absolute;
    top: 10px;
    right: 20px;
    background-image: url('/Subsectionimg/handbag-forsubsec-imagess2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation:bgimagesanimation 10s linear forwards infinite ;
    rotate: 25deg;

}

.sub-images-second-intro-in-images-tag{
    height: 120px;
    width:120px;
    position: absolute;
    bottom: 20px;
    left: -30px;
    background-image: url('/Subsectionimg/HAND-BAG-IMAGES-THREE.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation:bgimagesanimation 10s linear forwards infinite ;


}
@keyframes bgimagesanimation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform:  translateY(10px);
    }
    100%{
        transform:translateY(0px);
    }
}

.second-intro-product{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding: 20px 30px 90px 30px;
    border-top: 1px solid rgba(218, 218, 218, 0.612);
    border-bottom: 1px solid rgba(218, 218, 218, 0.612);


}
.second-intro-heading{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.second-intro-tit-one{
    font-size: 30px;
    letter-spacing: 1px;
    color: #d0473e;
    font-weight: 600;
    font-family: 'Style Script';
}
.second-intro-tit-two{
    font-size: 50px;
    letter-spacing: 2px;
    color: rgb(53, 40, 40);
    font-weight: 600;
    font-family: 'Germania One';
    
}
.second-intro-tit-three{
    height: 50px;
    width:150px;
    background-image: url('/Subsectionimg/design-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.second-intro-image-container{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 80px;
    row-gap: 80px;
}
.product-one-quality{
    height: 160px;
    width: 160px;
    
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.prod-qual-one{
    background-color: rgb(238, 241, 228);
    
}
.prod-qual-two{
    background-color: rgb(220, 228, 240);
}

.prod-qual-three{
    background-color: rgb(220, 240, 223);
}

.prod-qual-four{
    background-color: rgb(244, 245, 228);
}

.prod-qual-five{
    background-color: rgb(239, 228, 245);
}

.prod-qual-six{
    background-color: rgb(220, 240, 230);
}

.prod-qual-seven{
    background-color: rgb(228, 237, 244);
}

.prod-qual-eight{
    background-color: rgb(240, 237, 220);
}

.prod-qual-nine{
    background-color: rgb(245, 228, 240);

}

.prod-qual-ten{
    background-color: rgb(245, 228, 228);

}

.prod-qual-eleven{
    background-color: rgb(224, 240, 224);

}

.prod-qual-tvelwe{
    background-color: rgb(241, 247, 228);

}
.prod-qual-thirteen{
    background-color: rgb(247, 228, 236);

}.prod-qual-fourteen{
    background-color: rgb(241, 247, 228);

}

.img-div-for-quality-prod-one,.img-div-for-quality-prod-two,.img-div-for-quality-prod-three,.img-div-for-quality-prod-four,.img-div-for-quality-prod-five,.img-div-for-quality-prod-six,.img-div-for-quality-prod-seven,.img-div-for-quality-prod-eight,.img-div-for-quality-prod-nine,.img-div-for-quality-prod-ten,.img-div-for-quality-prod-eleven,.img-div-for-quality-prod-tvelwe,.img-div-for-quality-prod-thirteen,.img-div-for-quality-prod-fourteen{
 
    position: absolute;
    bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-div-for-quality-prod-one{
    height: 230px;
    width:230px;
    background-image: url('/Subsectionimg/shirt.png');
    animation:bgimagesanimation 10s linear forwards infinite ;

}
.img-div-for-quality-prod-two{
    height: 220px;
    width:220px;
    background-image: url('/Subsectionimg/t-shirt.png');
    animation:bgimagesanimation 10s linear 1s forwards infinite ;

}
.img-div-for-quality-prod-three{
    height: 180px;
    width:200px;
    background-image: url('/Subsectionimg/modern-shirt.png');
    animation:bgimagesanimation 10s linear 2s forwards infinite ;

}
.img-div-for-quality-prod-four{
    height: 190px;
    width:190px;
    background-image: url('/Subsectionimg/furn-one.png');

    animation:bgimagesanimation 10s linear 1s forwards infinite ;
}
.img-div-for-quality-prod-five{
    height: 180px;
    width:150px;
    background-image: url('/Subsectionimg/dif-pant.png');
    animation:bgimagesanimation 10s linear forwards infinite ;

}
.img-div-for-quality-prod-six{
    height: 220px;
    width:220px;
    background-image: url('/Subsectionimg/shoe.png');
    animation:bgimagesanimation 10s linear 0.3s forwards infinite ;

}
.img-div-for-quality-prod-seven{
    height: 180px;
    width:220px;
    background-image: url('/Subsectionimg/shoe-two.png');
    animation:bgimagesanimation 10s linear forwards infinite ;

}
.img-div-for-quality-prod-eight{
    height: 190px;
    width:130px;
    background-image: url('/Subsectionimg/jean-pant.png');
    animation:bgimagesanimation 10s linear 0.9s forwards infinite ;

}
.img-div-for-quality-prod-nine{
    height: 180px;
    width:220px;
    background-image: url('/Subsectionimg/jwel.png');
    animation:bgimagesanimation 10s linear 0.8s forwards infinite ;

}
.img-div-for-quality-prod-ten{
    height: 250px;
    width:200px;
    animation:bgimagesanimation 10s linear 2s forwards infinite ;

    background-image: url('/Subsectionimg/furn-two.png');
}
.img-div-for-quality-prod-eleven{
    height: 180px;
    width:220px;
    background-image: url('/Subsectionimg/jwel-2.png');
    animation:bgimagesanimation 10s linear 1s forwards infinite ;

}
.img-div-for-quality-prod-tvelwe{
    height: 180px;
    width:140px;
    background-image: url('/Subsectionimg/bag.png');
    animation:bgimagesanimation 10s linear 0.4s forwards infinite ;

}
.img-div-for-quality-prod-thirteen{
    height: 150px;
    width:160px;
    background-image: url('/Subsectionimg/Groceries.png');
    animation:bgimagesanimation 10s linear 0.4s forwards infinite ;

}
.img-div-for-quality-prod-fourteen{
    height: 180px;
    width:140px;
    background-image: url('/Subsectionimg/snack.png');
    animation:bgimagesanimation 10s linear 1s forwards infinite ;

}


.third-intro-product{
    height: 200px;
    width: 100%;
    padding: 20px;
    background: #feeeff;
background: linear-gradient(90deg, rgb(254, 235, 255) 27%, rgb(255, 215, 227) 100%); 
     display: flex;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.242) 0px 3px 12px;
}
.first-part-in-third-intro{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(30%);
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.first-part-cont{

    
  
    color: rgb(38, 0, 10);
    font-size: 40px;
    font-family: 'Sniglet';
    font-weight: 600;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
    gap: 10px;

}
.second-part-in-third-intro{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;


}
.second-part-cont-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.second-part-p{
    font-size: 28px;
    color: rgb(21, 22, 63);
    font-family: 'Play';
    font-weight: 600;
    
}
.second-part-p-two{
    font-size: 18px;
    color: rgb(49, 45, 96);
    font-family: 'Macondo Swash Caps';
    font-weight:800
    
}
.buy-now-second-part{
    font-size: 18px;
    font-family: 'Signika Negative';
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: rgb(61, 61, 61);
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.buy-now-second-part:hover{
    transform: scale(1.03);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.third-part-in-third-intro{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(30%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 25px;
}
.third-part-img-one-div{
    height: 150px;
    width: 120px;
    border-radius: 15px;
    background-color: rgb(220, 255, 250);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-part-img{
    position: absolute;
    height: 200px;
    width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/Subsectionimg/img-for-new.png');
    bottom: 0px;
    
}
.third-part-img-two{
    position: absolute;
    height: 220px;
    width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/Subsectionimg/img-for-new-men.png');
    bottom: 0px;
    
}
.third-part-img-two-div{
    height: 150px;
    width: 120px;
    border-radius: 15px;
    background-color: rgb(255, 240, 221);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.section-for-two-by-product{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(550px,1fr));
    justify-items: center;
    align-self: center;
    gap: 20px;
    padding: 60px 20px 60px 20px;
    border-bottom: 1px solid rgba(218, 218, 218, 0.612);

}
.by-product-div-one{
    height:70vh;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.by-product-one-img-container{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    background-image: url('https://images.unsplash.com/photo-1611095006346-d5e3313245e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZmFzaGlvbiUyMG1hbnxlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
}
.by-prpod-one-content-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.174);
    backdrop-filter: blur(0.8px);
    border-radius: 25px;

}
.by-prod-p-one{
    font-size: 35px;
    color: #ffffff;
    
    font-family: 'Winky Rough';
}
.by-prod-p-two{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Play';
}
.by-prod-p-three{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Play';
}




.by-product-one-items-container{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
   
}
.items-tit{
    width: 100%;
    height: auto;
    font-size: 24px;
    font-family: 'Exo 2';
    font-weight: 600;
    color: rgb(43, 43, 43);
    position: relative;
    padding-bottom: 5px;
}
.tit-underline-div{
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 1px;
    background-color: #d0473e;
    border-radius:100px;
}

.items-showing-container-by-prod{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 10px 10px 20px;
}
.items-showing-container-by-prod::-webkit-scrollbar{
    width: 2px;
    background-color: rgba(181, 181, 181, 0.986);
  }
  .items-showing-container-by-prod::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: rgba(10, 10, 10, 0.676);
  }
.items-showing-one-by-prod{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(52, 66, 71, 0.071) 0px 2px 4px 0px, rgba(53, 67, 73, 0.112) 0px 2px 16px 0px;        border-radius: 10px;
}
.item-image-show-by-prod{
    height: 100px;
    width: 100%;
    flex: 1 1 calc(35%);
    background-image: url('https://images.unsplash.com/photo-1517938889432-a2ac9241a486?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZhc2hpb24lMjBtYW58ZW58MHx8MHx8fDA%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(235, 235, 235);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item-content-show-by-prod{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(65%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    gap:10px;
    position: relative;
    overflow: hidden;
}

.item-cont-show-btn{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    right: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(55, 55, 55);
    cursor: pointer;
    transform: translateX(60px) ;
    opacity: 0;
    transition-duration: 0.4s;
    transition-timing-function: linear;

}
.items-showing-one-by-prod:hover .item-cont-show-btn{
    transform: translateX(0) ;
    opacity: 1;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.item-image-show-by-prod-for-two{
    height: 100px;
    width: 100%;
    flex: 1 1 calc(35%);
    background-image: url('https://images.unsplash.com/photo-1603351154351-5e2d0600bb77?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(235, 235, 235);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.by-product-one-img-container-for-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    background-image: url('https://plus.unsplash.com/premium_photo-1675129779575-54b713ec81dc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YWlycG9kc3xlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
}
.by-product-two-img-container-for-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    background-image: url('https://plus.unsplash.com/premium_photo-1681302427948-2fd0eca629b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bGFwdG9wc3xlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
}
.item-content-p-one{
    font-size: 16px;
    font-family: 'Inclusive Sans';
    font-weight: 600;
    color: rgb(36, 36, 36);
}
.item-content-p-two{
    font-size: 14px;
    font-family:'Special Gothic';
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #d0473e;

}
.amount-original{
    text-decoration: line-through;
    font-size: 12px;
    text-decoration-color: rgb(107, 107, 107);
    font-weight: 400;
    color: rgb(87, 87, 87);
}
.item-content-p-three{
    font-size: 10px;
    display: flex;
    gap: 4px;
    color: goldenrod;
}

.by-product-div-two{
    height: 70vh;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.by-product-two-img-container{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    background-image: url('https://images.unsplash.com/photo-1585229593056-ddd606c911de?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZhc2hpb24lMjB3b21lbnxlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
}
.by-prpod-two-content-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.174);
    backdrop-filter: blur(0.8px);
    border-radius: 25px;

}


.by-product-two-items-container{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
   
}


.div-for-item-container-listofitems{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 10px 30px 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.div-for-item-container-listofitems::before{
    position: absolute;
    content: '';
    height: 400px;
    width: 900px;
    background-color: #e8fff9;
    top: 0px;
    z-index: -1;
    border-radius: 100px 500px 200px 600px;
    animation:bgcolorchangeinsubsectionone 20s linear forwards infinite ;
}
.div-for-item-container-listofitems::after{
    position: absolute;
    content: '';
    height: 600px;
    width: 900px;
    background-color: #c0ffef;
    bottom: -50px;
    z-index: -1;
    border-radius: 500px 100px 600px 200px;
    animation:bgcolorchangeinsubsectiontwo 20s linear forwards infinite ;

}
@keyframes bgcolorchangeinsubsectionone {
    0%{
        background-color: #f0fffb;

    }20%{
        background-color: #f4f4ff;

    }
    40%{
        background-color: #fff0fd;

    }
    60%{
        background-color: #fffae9;

    }
    80%{
        background-color: #fff3f3;

    }
    100%{
        background-color: #f0fffb;

    }
}
@keyframes bgcolorchangeinsubsectiontwo {
    0%{
        background-color: #eeffef;

    }20%{
        background-color: #fffde7;

    }
    40%{
        background-color: #fff8f0;

    }
    60%{
        background-color: #fff2f9;

    }
    80%{
        background-color: #fff5f3;

    }
    100%{
        background-color: #eeffef;

    }
}
.heder-conateiner-for-item-listings{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
.heder-conateiner-for-item-p-three{
    font-size: 35px;
    font-family: 'Original Surfer';
    color: rgb(47, 47, 47);
}
.heder-conateiner-for-item-p-two{
    font-size: 25px;
    font-family: 'Lobster';
    color: #d0473e;

}
.heder-conateiner-for-item-p-one{
    font-size: 40px;
    font-family: 'Macondo Swash Caps';
    font-weight: 600;
    color: rgb(0, 0, 0);

}
.Items-container-itemdiv-for-items{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    padding: 40px 30px 40px 30px;
}
.Items-container-itemdiv-one{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 80px;

}
.itemdiv-items-in-subsec:hover{
   transform: scale(1.04);
   transition-duration: 0.4s;
   transition-timing-function: linear;
}
.itemdiv-items-in-subsec{
    height: 380px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.itemdiv-items-img{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(65%);
    position: relative;
    overflow: hidden;

}
.arrow-for-move-page{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.174);
    bottom: 20px;
    left: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 29, 29);
    cursor: pointer;
    transform: translateX(-100px) scale(0);
    opacity: 0;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.itemdiv-items-in-subsec:hover .arrow-for-move-page{
    transform: translateX(0px) scale(1);
    opacity: 1;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.itemdiv-items-cont{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 8px;
    background-color: white;
}
.itemdiv-items-cont-p-one{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.itemdiv-items-cont-p-two{
    font-size: 18px;
    font-family: 'Miriam Libre';
    font-weight: 800;
    color: #d0473e;
}

.itemdiv-items-cont-p-three{
    font-size: 9px;
    display: flex;
    gap: 2px;
    color: rgb(255, 191, 0);
    
}
.item-description-in-seubsection{
    font-size: 12px;
    font-family:'Anta';
    color: rgb(71, 71, 71);
    text-align: center;
}
.itemdiv-items-img{
    background-image: url('https://images.unsplash.com/photo-1565375706248-2fd61105f01e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}









.container-for-box-design{
    height: 80vh;
    width: 100%;
    padding: 40px 40px 40px 40px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;

}
.first-box-conatainer-in-box-design{
    height: 100%;
    width: 80%;
    flex: 1 1 calc(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.first-box-conatainer-in-box-design-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    background-image: url('https://plus.unsplash.com/premium_vector-1713314129288-13ffc1a35c99?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        border-radius: 30px;
    border-top-left-radius: 120px;
    transform: translateX(-200px);
    opacity: 0;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 20px;
    padding-left: 30px;
}
.box-one-p-one-for-box-design{
    font-size: 30px;
    font-family:'Special Gothic Expanded One';
    color: rgb(34, 0, 0);
}
.box-one-p-two-for-box-design{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(41, 1, 1);
}
.box-one-p-three-for-box-design{
    font-size: 18px;
    font-family: 'Play';
    color: rgb(9, 0, 62);
}
.box-one-design-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.205);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(0.8px);
    
}
.first-box-one-move{
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    transform: translateX(0px);
    opacity: 1;
}

.first-box-conatainer-in-box-design-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
   background-image: url('https://plus.unsplash.com/premium_vector-1714148691908-29ff6d8f3b29?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0MXx8fGVufDB8fHx8fA%3D%3D');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    border-radius: 30px;

    border-top-right-radius: 120px;
    transform: translateX(400px);
    opacity: 0;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  

    

}
.first-box-second-content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.267);
    padding: 15px;
    border-radius: 10px;

}
.first-box-two-move{
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    transform: translateX(0px);
    opacity: 1;
}

.box-one-design-two-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 
}

.box-one-design-two-cont-first{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    gap: 10px;
    font-size: 28px;
    font-family: 'Amarante';
    font-weight: 600;
    color: rgb(53, 0, 0);
}
.style-for-and{
    font-size: 40px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.second-box-conatainer-in-box-design{
    height: 100%;
    width: 80%;
    flex: 1 1 calc(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.second-box-conatainer-in-box-design-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    background-image: url('https://plus.unsplash.com/premium_vector-1689096853420-4128ca401156?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDk2fHx8ZW58MHx8fHx8');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;

    border-bottom-left-radius: 120px;
    transform: translateX(-200px);
    opacity: 0;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    gap: 20px;
}
.second-box-container-content-one{
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(235, 235, 235, 0.525);
    border-radius: 20px;
    gap: 10px;
}
.second-box-p-one{
    font-size: 35px;
    font-family: 'Nova Oval';
    font-weight: 600;
    color: white;
    text-shadow:
    -1px 0 1px black,
    0 -1px 1px black,
    1px 0 1px black,
    0 1px 1px black;
}
.second-box-p-two{
    font-size: 22px;
    color: rgb(38, 0, 0);
    font-family: 'Play';
    font-weight: 600;
}
.second-box-p-three{
    font-size: 18px;
    font-family: 'Exo 2';
    font-weight: 600;
    color: rgb(38, 0, 0);

    
}
.btn-second-box{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    font-family: 'Play';
    font-size: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-second-box-animater{
    position: absolute;
    height: 100%;
    width: 0%;
    z-index: -1;
    left: 0px;
    background: #f75eff;
    background: linear-gradient(90deg, rgba(247, 94, 255, 1) 27%, rgba(255, 77, 133, 1) 100%);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.btn-second-box:hover .btn-second-box-animater{
    width: 100%;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.second-box-conatainer-in-box-design-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    background-image: url('https://plus.unsplash.com/premium_vector-1718401354857-b3ff80ea7d40?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHNhdmluZ3xlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;

    border-bottom-right-radius: 120px;
    transform: translateX(400px);
    opacity: 0;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.second-box-container-p-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: rgba(20, 0, 0, 0.256);
    border-radius: 20px;
}
.second-box-container-p-one{
    font-size: 30px;
    font-family:'Original Surfer' ;
    color: #ffffff;
}
.second-box-container-p-two{
    font-size: 24px;
    color: #ff564a;
    font-weight: 800;
    font-family:'Original Surfer' ;
}
.second-box-one-move{
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    transform: translateX(0px);
    opacity: 1;
}
.second-box-two-move{
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.8s;
    transform: translateX(0px);
    opacity: 1;
}




.div-container-for-brand-logos{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.div-box-for-brand-title{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.brand-title{
    font-size: 22px;
    font-family: 'Play';
    font-weight: 600;
    color: rgb(53, 53, 53);
}
.brand-displaying-container{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-items: center;
    align-self: center;
    row-gap: 60px;
    column-gap: 20px;
}
.brand-logo{
    height: 200px;
    width: 230px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
}
.logo-one{
    background-image: url('/Subsectionimg/Logo/aashirvaad.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100%);
}
.logo-two{
    background-image: url('/Subsectionimg/Logo/apple.webp');

}
.logo-three{
    background-image: url('/Subsectionimg/Logo/boat.png');

}
.logo-four{
    background-image: url('/Subsectionimg/Logo/britannia.png')

}
.logo-five{
    background-image: url('/Subsectionimg/Logo/chaps-logo.jpg');

}
.logo-six{
    background-image: url('/Subsectionimg/Logo/Crocs.jpg');

}
.logo-seven{
    background-image: url('/Subsectionimg/Logo/fas.png');
}


.logo-eight{
    background-image: url('/Subsectionimg/Logo/JOSALUKAS.jpg');

}
.logo-nine{
    background-image: url('/Subsectionimg/Logo/khadi.png');

}
.logo-ten{
    background-image: url('/Subsectionimg/Logo/levis-logo-vector.png');

}
.logo-eleven{
    background-image: url('/Subsectionimg/Logo/LG.webp');

}


.logo-tweleve{
    background-image: url('/Subsectionimg/Logo/mrf.png');

}
.logo-thirteen{
    background-image: url('/Subsectionimg/Logo/POOTHYS.png');

}
.logo-fourteen{
    background-image: url('/Subsectionimg/Logo/sony.png');

}
.logo-fifteen{
    background-image: url('/Subsectionimg/Logo/SUNFEAST.jpg');

}


.logo-sixteen{
    background-image: url('/Subsectionimg/Logo/US-Polo-.png');

}
.logo-seventeen{
    background-image: url('/Subsectionimg/Logo/wrangler.webp');

    
}
.logo-eighteen{
    background-image: url('/Subsectionimg/Logo/cadbury.png');

}
.logo-nineteen{
    background-image: url('/Subsectionimg/Logo/aachi.jpg');

}
.logo-twenty{
    background-image: url('/Subsectionimg/Logo/hp.png');

}


.festival-deal-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.fest-deal-p{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Macondo Swash Caps';
    color: rgb(26, 26, 26);
}
.festival-deal-inside-container{
    height:500px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.festival-deal-inside-container-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.festival-deal-image-container-in-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(70%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
}
.festival-deal-one-image-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    background-image: url('https://images.unsplash.com/photo-1675621926040-b514257d5941?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw4MjUzNzI3fHxlbnwwfHx8fHw%3D');
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.festival-deal-one-image-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    border-radius: 20px;
    background-image: url('https://images.unsplash.com/photo-1523843480423-c296aef7ce1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw2NDc1MTg0NHx8ZW58MHx8fHx8');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.festival-deal-content-container-in-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0px 20px 0px 20px;
    gap: 10px;
}
.fest-deal-cont-insider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.fest-deal-cont-one{
    font-size: 24px;
    font-family: 'Macondo Swash Caps';
    font-weight: 600;
    color: rgb(31, 31, 31);
}
.fest-deal-cont-two{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Exo 2';
    color: #d0473e;

}
.fest-deal-cont-three{
    font-size: 14px;
    font-family: 'Exo 2';
    font-weight: 600;
    color: rgb(57, 57, 57);


}

.fest-btn-one{
    height: 40px;
    width: 100px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Exo 2';
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    z-index: 1;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.fest-btn-one-animater{
    position: absolute;
    height: 100%;
    width: 0%;
    right: 0px;
    background-color: black;
    z-index: -1;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.fest-btn-one:hover{    
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    color: rgb(255, 255, 255);
 
}
.fest-btn-one:hover .fest-btn-one-animater{

    width: 100%;
    transition-duration: 0.4s;
    transition-timing-function: linear;


}
.festival-deal-inside-container-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.festival-deal-image-container-two-in-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(70%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
}
.festival-deal-two-image-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    background-image: url('https://images.unsplash.com/photo-1556909211-36987daf7b4d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGtpdGNoZW58ZW58MHx8MHx8fDA%3D');
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.festival-deal-two-image-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    border-radius: 20px;
    background-image: url('https://plus.unsplash.com/premium_vector-1724296269077-7a6099210dd8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.festival-deal-content-container-two-in-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0px 20px 0px 20px;
    gap: 10px;
}


.newly-added-in-store{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.newly-added-p{
    font-size: 21px;
    font-weight: 600;
    font-family: 'Macondo Swash Caps';
    color: rgb(26, 26, 26);
}
.container-for-newly-added-itens{
    height: auto;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-items: center;
    align-self: center;
    column-gap: 20px;
    row-gap: 40px;
}
.newly-added-items{
    height: 180px;
    width: 180px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;    border-radius: 20px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   transition-duration: 0.4s;
   transition-timing-function: linear;
}
.newly-added-items:hover .added-img-tag{
    transform: scale(1.1) rotate(5deg);
    transition-duration: 0.4s;
    transition-timing-function: linear;
}

.added-img-tag{
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0px;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.added-newly-one{
    height: 240px;
    width: 150px;
    
    background-image: url('/Subsectionimg/newitems/new-item-one.png');
}
.added-newly-two{
    height: 230px;
    width: 200px;
    background-image: url('/Subsectionimg/newitems/new-item-two.png');
}.added-newly-three{
    height: 240px;
    width: 220px;
    background-image: url('/Subsectionimg/newitems/new-item-three.png');
}.added-newly-four{
    height: 180px;
    width: 150px;
    background-image: url('/Subsectionimg/newitems/new-item-four.png');
}.added-newly-five{
    height: 180px;
    width: 220px;
    background-image: url('/Subsectionimg/newitems/new-item-five.png');
}.added-newly-six{
    height: 180px;
    width: 250px;
    background-image: url('/Subsectionimg/newitems/new-item-six.png');
}.added-newly-seven{
    height: 200px;
    width: 260px;
    background-image: url('/Subsectionimg/newitems/new-item-seven.png');
}.added-newly-eight{
    height: 200px;
    width: 220px;
    background-image: url('/Subsectionimg/newitems/new-item-eight.png');
}.added-newly-nine{
    height: 180px;
    width: 200px;
    background-image: url('/Subsectionimg/newitems/new-item-nine.png');
}.added-newly-ten{
    height: 220px;
    width: 250px;
    background-image: url('/Subsectionimg/newitems/new-item-ten.png');
}


.all-things-needed{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-top: 30px;
}
.all-things-tit{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Macondo Swash Caps';
    color: rgb(26, 26, 26);
}
.all-things-needed-container{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 30px;
}

.all-things-needed-container-one{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(33.33%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.148) 0px 0px 16px;
}
.all-thing-one-box-img,.all-thing-two-box-img,.all-thing-three-box-img{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(60%);
    background-color: #d0473e;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.all-thing-one-box-img{
    background-image: url('https://images.unsplash.com/photo-1613332098721-054a53462d12?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGdyb2Nlcmllc3xlbnwwfHwwfHx8MA%3D%3D');
}
.all-thing-two-box-img{
    background-image: url('https://images.unsplash.com/photo-1628088062854-d1870b4553da?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZGFpcnl8ZW58MHx8MHx8fDA%3D');
}
.all-thing-three-box-img{
    background-image: url('https://plus.unsplash.com/premium_vector-1727150463663-370be0577ca9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZSUyMGNvbW1lcmNlfGVufDB8fDB8fHww');
}
.all-thing-one-box-cont,.all-thing-two-box-cont,.all-thing-three-box-cont{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    gap: 20px;
}
.all-things-cont-one-p-one-div{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nova Oval';
}

.all-things-cont-one-p-one{
    font-size: 18px;
    font-family: 'Winky Rough';
    color: #d0473e;
}
.all-thins-buy-now{
    height: 33px;
    width: 100px;
    font-size: 15px;
    font-family: 'Winky Rough';
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.all-things-buy-now-animater{
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.all-thins-buy-now:hover .all-things-buy-now-animater{
    height: 100px;
    width: 100px;   
    transition-duration: 0.3s;
    transition-timing-function: linear;
    
}

.all-thins-buy-now:hover{
    color: white;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}





.all-things-needed-container-two{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(33.33%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.148) 0px 0px 16px;
}
.all-things-needed-container-three{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(33.33%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.148) 0px 0px 16px;
}






.arraival-of-new-things-show-up{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
.arraival-of-new-things-content{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}


.arraival-of-new-things-img{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.new-arraival-image-tag-image{
    height:350px;
    width:80%;
    background-image: url('https://plus.unsplash.com/premium_vector-1727544664530-aade313813c3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGUlMjBjb21tZXJjZXxlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
}
.animation-image-new-arraivals-one{
    position: absolute;
    top: -40px;
    left: -150px;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    background-image: url('https://plus.unsplash.com/premium_photo-1661400600986-b7493240cae2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWVufGVufDB8fDB8fHww');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.animation-image-new-arraivals-three{
    position: absolute;
    bottom: -100px;
    left: -100px;
    height: 250px;
    width: 160px;
    border-radius: 20px;
    background-image: url('https://images.unsplash.com/photo-1533659828870-95ee305cee3e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGRyZXNzfGVufDB8fDB8fHww');
    background-position: center;
    background-size: cover;    
    z-index: -1;
    background-repeat: no-repeat;

}
.animation-image-new-arraivals-four{
    position: absolute;
    bottom: 0px;
    right: -80px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-image: url('https://images.unsplash.com/photo-1594534475808-b18fc33b045e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2F0Y2hlc3xlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}









.div-for-new-arraival-cont-two-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding-left: 20px;
}
.div-for-new-arraival-cont-two-para-one{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Macondo Swash Caps';
    color: #d0473e;
    
}
.div-for-new-arraival-cont-two-para-two{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Macondo Swash Caps';
    color: #d0473e;
}
.new-arraival-p-last{
    font-size: 18px;
    font-weight:600;
    font-family: 'Play';
    padding-left: 20px;
    color: cornflowerblue;
}
.btn-for-new-arraivals{
    height: 35px;
    width: 100px;
    border: 2px solid black;
    color: black;
    font-size: 16px;
    font-family: 'Winky Rough';
    border-radius: 10px;
    
}