@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


.liker{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.591);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;

    z-index:3000000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor:url('/close-two.png') 10 10,auto;
    
}

.like-container{
    position: relative;
    height:100vh;
    width: 500px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    gap: 15px;
    box-shadow: rgba(1, 2, 3, 0.441) 0px 2px 14px 0px, rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
    cursor: default;
  }
  .container-for-like-page-side-items{
    position: absolute;
    height:100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: aliceblue;
    right: 100%;
    top: 0px;
    border-right: 1px solid rgb(208, 208, 208);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px 15px 20px 15px;
    opacity: 0;

    
  }

.like-page-items-insider{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
}

.like-page-items-insider::-webkit-scrollbar{
  width: 2px;
  background-color: rgba(232, 232, 232, 0.986);
}
.like-page-items-insider::-webkit-scrollbar-thumb{
  width: 2px;
  background-color: rgba(36, 36, 36, 0.676);
}
  
.item-one-in-like-page-side{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom:  1px solid rgb(208, 208, 208);
  padding-bottom: 15px;
}

.item-in-like-page-image{
  height: 100px;
  width: 80%;
  background-image: url('https://images.unsplash.com/photo-1606841837239-c5a1a4a07af7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGFpcnBvZHN8ZW58MHx8MHx8fDA%3D');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  
}
.heart-div-in-like-page{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 23px;
  width: 23px;
  background-color: white;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.heart-in-like-page{
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartimg-in-like-page{
  font-size: 13px;

}
.dis-showing-box{
  position: absolute;
  height: 16px;
  width: 30px;
  background-color: #cb1508;
  border-radius: 3px;
  color: white;
  font-size: 9px;
  font-family: 'National Park';
  font-weight: 600;
  top: 6px;
  left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-in-like-page-content{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.item-in-like-page-tit{
  font-size: 11px;
  font-family:'Nova Slim';
  font-weight: 600;
  color: rgb(83, 83, 83);
}
.amt-span-in-like-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.item-in-like-page-amt{
  width: 70%;
  font-size: 14px;
  font-weight: 600;
  font-family: 'National Park';
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cb1508;
  
}

.original-amt-in-like-page{
  font-size: 12px;
  font-family: 'National Park';
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888888;
  text-decoration: line-through;
}
.item-in-like-page-star{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  color: rgb(24, 24, 24);
}
.move{
    transform: translateX(0px) ;
    transition-duration: 0.3s;
    transition-timing-function: linear;
   
  
  }

  .movemobfilt{
    transform: translateX(0px) ;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  
  }
  .removemobfilt{
    transform: translateX(2000px);
    opacity: 0;
    transition-duration: 0.6s;
    transition-timing-function:linear;
  }
.remove{
    transform: translateX(2000px);
    transition-duration: 0.6s;
    transition-timing-function:linear;

}
.view-cart-in-like-page{
  text-decoration: none;
}
.view-cart-in-like-page-btn{
  cursor: pointer;

}
.likkescale{
  transform:scale(1);
  transition-delay: 0.3s;
  transition-duration: 0.6s;
  transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.nolikkescale{
  transform:scale(0);
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.items-show-in-likepage{
    transform: translateX(0px) ;
    opacity: 1;
   
    transition: opacity 0.6s linear 1s,transform 0.5s linear 1s;

}
.items-not-show-in-likepage{
  transform: translateX(50px) ;
  transition-timing-function: linear;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0s;
} 
  .liker-top-p1{
    font-size: 26px;
    font-family: 'Iceland';
  }
  .liker-top-p2-icon{
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.5s;

  }
  .liker-top-p2-icon:hover{
    scale: 1.09;
    transition-duration: 0.5s;
  }
  .liker-top{
    width: 100%;
    height: 100%;
    flex: 1 1 calc(10%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(188, 188, 188, 0.781);
  }
  .liked-items-div{
    height:100%;
    flex: 1 1 calc(80%);
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

  }
  .final-div-in-like-page{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex: 1 1 calc(10%);
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .liked-items-div::-webkit-scrollbar{
    width: 2px;
    background-color: rgba(232, 232, 232, 0.986);
  }
  .liked-items-div::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: rgba(19, 19, 19, 0.676);
  }
  .view-cart-btn-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .view-cart-in-like-page-btn{
    border: none;
    height: 38px;
    width: 170px;
    background-color: rgb(0, 46, 99);
    color: white;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno';
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    z-index: 1;
    transition-timing-function: linear;
  }
  .span-for-btn-animation{
    position: absolute;
    height: 100%;
    right: 0px;
    background-color: rgb(255, 213, 0);
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
    width: 0%;
    z-index: -1;
  }
  .view-cart-in-like-page-btn:hover   .span-for-btn-animation{
    left: 0px;
    width: 100%;
    transition-duration: 0.4s;
    transition-delay: 0.1s;

    transition-timing-function: linear;
  }
  .view-cart-in-like-page-btn:hover {
    color: rgb(57, 57, 57);
    transition-delay: 0.2s;
    font-weight: 800;
  }
  .amt-tot-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 20px;
    border-top:  1px solid rgba(143, 143, 143, 0.781);
    border-bottom:  1px solid rgba(143, 143, 143, 0.781);

    padding-right: 20px;
  }
  .subtot{
    font-size: 16px;
    color: rgb(5, 5, 40);
    font-family: 'Phudu';
  }
  .sub-amt{
    font-size: 16px;
    color: rgb(100, 100, 100);
    font-family: 'Phudu';
  }
  .liked-items{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-bottom: 6px;
    border-bottom:  1px solid rgba(143, 143, 143, 0.781);
    padding-top: 6px;
  }
  .like-item-1{
    width: 100%;
    height: 90px;
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .like-item-img{
    height: 80%;
    width: 100%;
    flex: 1 1 calc(20%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    position: relative;
    border: 1px solid rgba(176, 176, 176, 0.726);
  }
  
  .like-item-cont{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(75%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    gap: 10px;
  }
  .like-item-remove{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(10%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
  }
  .like-in-like-list{
    height: 22px;
    width: 22px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: red;
  }
  
  .like-item-cont-name{
    font-size: 15px;
    font-family:'National Park' ;
  }
  .like-item-cont-info{
    font-size: 15px;
    font-family:'Roboto Condensed' ;
    color: rgb(50, 50, 50);
  }
  .like-item-cont-price{
    font-size: 12px;
    font-family:'National Park';
    color: rgb(89, 89, 89);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .remove-in-like{
    font-size: 18px;
    color: rgb(81, 81, 81);
    transition-duration: 0.6s;
    
  }
  .remove-in-like:hover{
    color: rgb(35, 35, 35);
    transform: scale(1.1);
    transition-duration: 0.6s;
    cursor: pointer;
  }

  @keyframes bubbleeffect {
    0%{
      transform: rotate3d(0,0,0,0deg) scale(1);
    }
    50%{
      transform:rotate3d(0,1,0,360deg) scale(0.9);
    }
    100%{
      transform: scale(1);
    }
  }
  
  @keyframes bubbleeffectfal {
    0%{
      transform:rotate3d(0,0,0,0deg) scale(1);
    }
    50%{
      transform:rotate3d(0,1,0,360deg) scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }

  .nolen-like{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-top: 50px;
  }
  .empty-fav-p{
    width: 80%;
    font-size: 18px;
    font-family: 'Walter Turncoat';
    font-weight: 200;
    color: rgb(53, 53, 53);
  }
  .add-item-to-home-from-liker{
    text-decoration: none;
    color: rgb(222, 0, 0);
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .star-in-like-page{
    font-size: 10px;
    color: #f4af00;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px;
  }





  @media screen and (max-width:1000px) {
    .like-container{
      width: 450px;
    }
  }


  
  @media screen and (max-width:800px) {
    .like-container{
      width: 400px;
      padding: 24px;
    }
    .liker-top-p1{
      font-size: 25px;
    }
    .like-in-like-list {
      height: 20px;
      width: 20px;
}

.view-cart-in-like-page-btn{
  width: 160px;
  font-size: 15px;
}
.liked-items-div{
  padding: 15px;
  padding-top: 0px;
  gap: 10px;
}
.like-item-1{
  gap: 0px;
}
.like-item-cont-name{
  font-size: 14px;
}


.move{
  transform: translateX(0px) ;
  transition-duration: 0.3s;

}
.remove{
  transform: translateX(1000px);
  transition-duration: 0.4s;

}

.likkescale{
transition-delay: 0.3s;
transition-duration: 0.4s;
}
.nolikkescale{
transition-delay: 0s;
transition-duration: 0.2s;
}
.empty-fav-p{
  font-size: 17px;
}
.container-for-like-page-side-items{
  display: none;
}
  }



   
  @media screen and (max-width:650px) {
    .like-container{
      width:360px;
    }
    .liker-top-p1{
      font-size: 23px;
    }
    .liker-top-p2-icon{
      font-size: 18px;
    }
    .like-in-like-list{
      height: 18px;
      width: 18px;
    }
    .subtot{
      font-size: 15px;
    }
    .sub-amt {
      font-size: 15px;
    }
    
    .view-cart-in-like-page-btn{
      width: 150px;

    }
    .like-item-cont-name{
      font-size: 13px;
    }


    .like-item-cont-price{
      font-size: 11px;
    }


  }
  @media screen and (max-width:600px) {
    .like-item-cont-name {
      font-size: 15px;
    }
  }

  @media screen and (max-width:580px) {
  
    
    .like-item-remove {
      flex: 1 1 calc(5%);
    }
    .like-item-img{
      flex: 1 1 calc(30%);

    
    }
    
        .like-container{
      width:330px;
    }
   
    .remove-in-like{
      font-size: 16px;
    }
    .liker-top{
      padding-left: 0px;
      padding-right: 0px;
    }
    .empty-fav-p{
      font-size: 16px;
    }
  }



  @media screen and (max-width:480px) {
    
    
    .liker-top{
      flex: 1 1 calc(10%);
    }
    .liked-items-div{
      flex: 1 1 calc(70%);
    }
    .final-div-in-like-page{
      flex: 1 1 calc(21%);
      justify-content: flex-start;
      padding-top: 10px;
    }
   
        .like-container{
      width:280px;
    }
    .like-item-img{
      height: 70%;
    }
    .star-in-like-page{
      font-size: 9px;
    }
    .liker-top-p1{
      font-size: 21px;
    }
    .liker-top-p2-icon{
      font-size: 16px;
    }
    .subtot{
      font-size: 14px;
      font-weight: 500;
    }
    .sub-amt{
      font-size: 14px;
      color: rgb(50, 50, 50);
    }
    .liker-top{
      padding: 0px;
    }
    .view-cart-in-like-page-btn{
      width: 130px;
      font-size: 15px;
      height:36px;
    }
    .like-item-cont-name {
      font-size: 14px;
      font-weight: 500;
    }
    .like-item-cont{
      gap: 8px;
    }
  

  .move{
    transform: translateX(0px) ;
    transition-duration: 0.3s;
  
  }
.remove{
  transform: translateX(600px);
  transition-duration: 0.5s;

}

.likkescale{
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}
.nolikkescale{
  transition-delay: 0s;
  transition-duration: 0.2s;
}
  }


  @media screen and (max-width:380px) {
    
    
    .empty-fav-p{
      font-size: 14px;
    }
            
        .like-container{
            width:250px;
            padding: 18px;
          }
        .like-in-like-list{
          height: 16px;
          width: 16px;
        }
        .remove-in-like{
          font-size: 15px;
        }
        .liked-items{
          border-bottom: 0.5px solid rgba(192, 192, 192, 0.781);
        }
        .like-item-1{
          height: 80px;   
            }
            .like-item-cont{
              gap: 6px;
            }
            .like-item-cont-name{
              font-size: 12px;
              
            }
            .star-in-like-page{
              font-size: 8px;
            }
            .view-cart-in-like-page-btn{
              width: 110px;
              height: 32px;
              font-size: 13px;
            }
            
}

@media screen and (max-width:330px) {
    
    
    
            
  .like-container{
      width:230px;
    }

}


@media screen and (max-width:310px) {
    
    
    
            
  .like-container{
      width:230px;
      padding: 12px;
    }

}