@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Smooch+Sans:wght@100..900&display=swap');

.footer-contaier{
    height: auto;
    width: 100%;
 
    
    padding-bottom: 0px;

    z-index: 1;
    background: #fffafa;
background: linear-gradient(121deg, rgba(255, 250, 250, 1) 30%, rgba(255, 247, 242, 1) 100%);
   border-top: 1px solid rgb(237, 237, 237);

}
.footer-div{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    position: sticky;
    bottom: 0px;
    align-items: center;
}
.footer-flex{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    flex: 1 1 calc(90%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.under-footer{
    width: 100%;
    height: 100%;
    flex: 1 1 calc(10%);
    border-top: 1px solid rgb(204, 204, 204);
    background-color: rgb(242, 242, 242);
}
.foot-site-info-1{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(50%);
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    padding-top: 30px;
}
.foot-site-info-2{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(16.66%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding-top: 30px;
}
.foot-info-2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}
.foot-info-3{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}
.foot-info-4{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}
.foot-site-info-3{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(16.66%);
    padding-top: 30px;

}
.foot-site-info-4{
    height: 100%;
    width: 100%;
    flex: 1 1 calc(16.66%);
    padding-top: 30px;

}
.foot-cont{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
  
    gap: 10px;
}
.foot-p1{
    font-size: 25px;
    font-family: 'Playwrite AU TAS';
}
.foot-p2{
    font-size: 15px;
    font-family: 'Exo 2';
    color: rgb(62, 62, 62);
}
.email-inp-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}
.email-inp-foot{
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(113, 113, 113);
}
.footer-link{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding-top: 40px;
}
.foot-link-icon{
    font-size: 18px;
    color: rgb(51, 51, 51);
}
.foot-head-shop{
    font-size: 20px;
    font-family: 'Chakra Petch';
    font-weight: 600;
}

.foot-p{
    font-size: 19px;
    font-family:'Iceland';
}
.under-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.under-footer-p-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    font-family: 'Smooch Sans';
    font-size: 20px;
}
.under-footer-p-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    font-family: 'Smooch Sans';
    font-size: 20px;
}
.copy{
    color: rgb(69, 69, 69);
}


/* Footer Responsive Design */

@media screen and (max-width:1300px){
    .footer-flex{
        padding-left: 0px;
        padding-right: 0px;
    }
    .foot-site-info-1 {
        flex: 1 1 calc(55%);
    }
    .foot-p1{
        font-size: 23px;
    }
    .foot-head-shop{
        font-size: 19px;
    }
    .foot-p2{
        font-size: 13px;
    }
}


@media screen and (max-width:1100px){
    .foot-site-info-4{
        display: none;
    }
    .foot-p1{
        font-size: 18px;

    }
    .foot-p2{
        font-size: 12px;
    }
    .email-inp-foot{
        height: 34px;
        font-size: 12px;
    }
    .foot-head-shop{
        font-size: 14px;
    }
    .foot-p{
        font-size: 16px;
    }
    .foot-info-3,.foot-info-2 {
        gap: 20px;
    }
    .under-footer-p-2,.under-footer-p-1{
        font-size: 15px;
    }
}


@media screen and (max-width:1000px){
    .footer-div{
        height: 450px;
    }
}

@media screen and (max-width:750px){
   
    .foot-site-info-1{
        padding-left: 15px;
    }
    .foot-p1{
        font-size: 16px;
    }
    .foot-p2{font-size: 10px;}
    .email-inp-div{
        padding-left: 10px;
    }
    .email-inp-foot{
        height: 30px;
        border-radius: 5px;
    }
    .foot-site-info-1{
        flex: 1 1 calc(40%);
    }
}

@media screen and (max-width:600px){
    .foot-cont {
        width: 90%;
    }
    .foot-p1{
        font-size: 14px;
        width: 90%;
    }
    .foot-p2{font-size: 8px;
    width: 90%;}
    .foot-head-shop{
        font-size: 13px;
    }
    .foot-p{
        font-size: 13px;
    }
    .foot-info-3,.foot-info-2 {
        gap: 15px;
    }
    .foot-link-icon{
        font-size: 14px;
    }
    .email-inp-foot{
        width: 70%;
        height: 28px;
        font-size: 11px;
    }
}


@media screen and (max-width:500px){
    .foot-site-info-3{
        flex: 1 1 calc(20%);
    }
    .foot-site-info-2{
        flex: 1 1 calc(20%);
    }
    .foot-site-info-1{
        flex: 1 1 calc(50%);
        padding-left: 5px;
    }
    .foot-head-shop{
        font-size: 11px;
    }
    .foot-p{
        font-family: 'Anta';
        font-size: 8px;
    }
    .foot-info-3, .foot-info-2{
        gap: 10px;
    }
    .footer-div{
        height: 350px;
    }
    .foot-site-info-1{
        gap: 30px;
    }.under-footer-p-2, .under-footer-p-1{
        font-size: 12px;
    }
}

@media screen and (max-width:415px){
    .footer-div{
        height: 300px;
    }
    .foot-cont{
        width: 90%;
    }
    .foot-p1{font-size: 13px;}
    .foot-p2{
        font-size: 7px;
    }.foot-site-info-1{
        gap: 30px;
    }
    .foot-site-info-1{
        flex: 1 1 calc(40%);
        padding-left: 5px;
    }
    .email-inp-foot{
        width: 80%;
        height: 23px;
        font-size: 9px;
    }
    .footer-link{
        gap: 20px;
    }
    .foot-link-icon{
        font-size: 13px;
    }
    .footer-link{
        padding-top: 20px;
    }
    .under-footer-p-2, .under-footer-p-1{
        font-size: 12px;
    }
    .foot-site-info-3{
        flex: 1 1 calc(20%);
    }
    .foot-site-info-2{
        flex: 1 1 calc(20%);
    }
    .foot-head-shop{
        font-size: 10px;
    }
    .foot-p{
        font-size: 7px;
    }
}

@media screen and (max-width:355px){
    .foot-p1{
        font-size: 10px;
    }
    .foot-p2{
        font-size: 6px;
    }
    .footer-link{
        padding-top: 20px;
    }
    .footer-link{
        gap: 13px;
    }
    .foot-link-icon{
        font-size: 11px;
    }
    .email-inp-foot{
        width: 90%;
        padding-left: 10px;
        font-size: 8px;
    }
    .under-footer-p-2, .under-footer-p-1{
        font-size: 11px;
    }
    .footer-div{
        height: 300px;
    }
}


@media screen and (max-width:330px){
    .foot-head-shop{
        font-size: 9px;
    }
    .foot-p{
        font-size: 6px;
    }
}